{{> _comment title="Footer"}}

<footer class="bg-white">
    <div class="container-fluid">

        <header class="mb-5 wow fadeInUp" data-wow-delay=".1s">
            <h2 class="display-4">Need help? <b class="text-primary">Let's talk!</b></h2>
            <p class="lead">Do you have a project or collaboration you would like to turn to with us, or are you curious to hear more about how we can help you, we look forward to hearing from you.</p>
        </header>

        <div class="row wow fadeInUp" data-wow-delay=".4s">
            <div class="col-6 col-lg-3">
                <hr>
                <p><a href="#" class="link link-right link-dark">Services</a></p>
                <small class="text-muted">From digital strategy to measurable results</small>
            </div>
            <div class="col-6 col-lg-3">
                <hr>
                <p><a href="#" class="link link-right link-dark">Cases</a></p>
                <small class="text-muted">Solutions we are proud to in our portfolio</small>
            </div>
            <div class="col-6 col-lg-3">
                <hr>
                <p><a href="#" class="link link-right link-dark">About us</a></p>
                <small class="text-muted">Collaboration across professional competencies</small>
            </div>
            <div class="col-6 col-lg-3">
                <hr>
                <p><a href="#" class="link link-right link-dark">Contact</a></p>
                <small class="text-muted">Come by for a cup of coffee</small>
            </div>
        </div>


        <div class="pt-5 wow fadeInUp" data-wow-delay=".7s">
            <hr>
            <small class="text-muted">{{global.site.copyright}}</small>
        </div>
    </div>
</footer>
