<div class="header">
    <div>
        <h2 class="title">{{docs.title}}</h2>
        <small>{{docs.description}}</small>
    </div>
    <div>
        <small>V {{docs.version}}</small>
    </div>
</div>

<hr />
