<aside class="col-lg-3" data-toggle-elem>
    <div class="nav-aside" id="nav-aside">
        <div class="nav-item active">
            <a class="nav-link nav-link-main" href="javascript:void(0);">Getting started</a>
            <div class="nav-collapse" style="display: block;">
                <div class="nav-group">
                    <a class="nav-link active" href="#">Installation</a>
                    <a class="nav-link" href="#theming">Theming</a>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link nav-link-main" href="javascript:void(0);">Content</a>
            <div class="nav-collapse">
                <div class="nav-group">
                    <a class="nav-link" href="#typography">Typography</a>
                    <a class="nav-link" href="#colors">Colors</a>
                    <a class="nav-link" href="#images">Images</a>
                    <a class="nav-link" href="#tables">Tables</a>
                    <a class="nav-link" href="#figures">Figures</a>
                    <a class="nav-link" href="#dividers">Dividers</a>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link nav-link-main" href="javascript:void(0);">Components</a>
            <div class="nav-collapse">
                <div class="nav-group">
                    <a class="nav-link" href="#accordions">Accordions</a>
                    <a class="nav-link" href="#alerts">Alerts</a>
                    <a class="nav-link" href="#banners">Banners</a>
                    <a class="nav-link" href="#boxes">Boxes</a>
                    <a class="nav-link" href="#bricks">Brick Masonry</a>
                    <a class="nav-link" href="#buttons">Buttons & Links</a>
                    <a class="nav-link" href="#cards">Cards</a>
                    <a class="nav-link" href="#carousels">Carousels</a>
                    <a class="nav-link" href="#cover">Cover</a>
                    <a class="nav-link" href="#forms">Forms</a>
                    <a class="nav-link" href="#icons">Icons</a>
                    <a class="nav-link" href="#listgroups">List groups</a>
                    <a class="nav-link" href="#navbar">Navbar</a>
                    <a class="nav-link" href="#sidebar">Sidebar</a>
                    <a class="nav-link" href="#steps">Steps</a>
                    <a class="nav-link" href="#tabs">Tabs and Navs</a>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link nav-link-main" href="javascript:void(0);">Widgets</a>
            <div class="nav-collapse">
                <div class="nav-group">
                    <a class="nav-link" href="#isotope">Isotope filtering</a>
                    <a class="nav-link" href="#stretcher">Stretcher</a>
                    <a class="nav-link" href="#tabzy">Tabzy</a>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link nav-link-main" href="javascript:void(0);">General</a>
            <div class="nav-collapse">
                <div class="nav-group">
                    <a class="nav-link" href="#about">About</a>
                    <a class="nav-link" href="#credits">Credits</a>
                </div>
            </div>
        </div>
    </div>
</aside>
