<aside class="navigation" data-toggle-elem>

    <div class="navigation-aside" id="nav-aside">

        <div class="navigation-item active">

            <a class="navigation-link navigation-link-main" href="javascript:void(0);">Getting started</a>

            <div class="navigation-collapse" style="display: block;">

                <div class="navigation-group">
                    <a class="navigation-link active" href="#introdution">Introdution</a>
                </div>

                <div class="navigation-group">
                    <a class="navigation-link" href="#installation">Installation</a>
                </div>

            </div>

        </div>

    </div>

</aside>
