<div data-switcher>
    <small>Dark mode &nbsp;</small>
    <div class="nav-box nav-lavalamp d-inline-flex" data-hover="false" data-click="true" data-focus="false">
        <a href="javascript:void(0);" class="nav-item">
            <span class="nav-link nav-light">Off</span>
        </a>
        <a href="javascript:void(0);" class="nav-item">
            <span class="nav-link nav-dark">On</span>
        </a>
    </div>
</div>
