<div class="header d-flex align-items-center">
    <div>
        <div class="h5 m-0">{{docs.title}}</div>
        {{!-- <small class="pre-label">{{docs.description}}</small> --}}
    </div>
    <div>
        <small class="ml-2 badge badge-primary">V {{docs.version}}</small>
    </div>
    <div class="ml-auto">
        <a class="btn btn-primary btn-rounded btn-sm ml-2 px-3" href="../html/index.html">
            {{docs.preview}}
        </a>
    </div>
    <div class="toggle-nav d-inline-flex d-lg-none h3 m-0 ml-2" data-toggle-click>
        <i class="icon icon-menu"></i>
    </div>
</div>
<hr class="m-0" />

<div data-switcher>
    <small>Dark mode &nbsp;</small>
    <div class="nav-box nav-lavalamp d-inline-flex" data-hover="false" data-click="true" data-focus="false">
        <a href="javascript:void(0);" class="nav-item">
            <span class="nav-link nav-light">Off</span>
        </a>
        <a href="javascript:void(0);" class="nav-item">
            <span class="nav-link nav-dark">On</span>
        </a>
    </div>
</div>
