<section id="installation">
    <article>{{> _installation}}</article>
</section>

<section id="theming">
    <div class="text-right">
        <a href="#">
            <i class="icon icon-arrow-up-circle"></i>
            <span>Back to top</span>
        </a>
    </div>
    <article>{{> _theming}}</article>
</section>

<section id="typography">
    <div class="text-right">
        <a href="#">
            <i class="icon icon-arrow-up-circle"></i>
            <span>Back to top</span>
        </a>
    </div>
    <article>{{> _typography}}</article>
</section>

<section id="colors">
    <div class="text-right">
        <a href="#">
            <i class="icon icon-arrow-up-circle"></i>
            <span>Back to top</span>
        </a>
    </div>
    <article>{{> _colors}}</article>
</section>

<section id="images">
    <div class="text-right">
        <a href="#">
            <i class="icon icon-arrow-up-circle"></i>
            <span>Back to top</span>
        </a>
    </div>
    <article>{{> _images}}</article>
</section>

<section id="tables">
    <div class="text-right">
        <a href="#">
            <i class="icon icon-arrow-up-circle"></i>
            <span>Back to top</span>
        </a>
    </div>
    <article>{{> _tables}}</article>
</section>

<section id="figures">
    <div class="text-right">
        <a href="#">
            <i class="icon icon-arrow-up-circle"></i>
            <span>Back to top</span>
        </a>
    </div>
    <article>{{> _figures}}</article>
</section>

<section id="dividers">
    <div class="text-right">
        <a href="#">
            <i class="icon icon-arrow-up-circle"></i>
            <span>Back to top</span>
        </a>
    </div>
    <article>{{> _dividers}}</article>
</section>

<section id="accordions">
    <div class="text-right">
        <a href="#">
            <i class="icon icon-arrow-up-circle"></i>
            <span>Back to top</span>
        </a>
    </div>
    <article>{{> _accordions}}</article>
</section>

<section id="alerts">
    <div class="text-right">
        <a href="#">
            <i class="icon icon-arrow-up-circle"></i>
            <span>Back to top</span>
        </a>
    </div>
    <article>{{> _alerts}}</article>
</section>

<section id="banners">
    <div class="text-right">
        <a href="#">
            <i class="icon icon-arrow-up-circle"></i>
            <span>Back to top</span>
        </a>
    </div>
    <article>{{> _banners}}</article>
</section>

<section id="boxes">
    <div class="text-right">
        <a href="#">
            <i class="icon icon-arrow-up-circle"></i>
            <span>Back to top</span>
        </a>
    </div>
    <article>{{> _boxes}}</article>
</section>

<section id="bricks">
    <div class="text-right">
        <a href="#">
            <i class="icon icon-arrow-up-circle"></i>
            <span>Back to top</span>
        </a>
    </div>
    <article>{{> _bricks}}</article>
</section>

<section id="buttons">
    <div class="text-right">
        <a href="#">
            <i class="icon icon-arrow-up-circle"></i>
            <span>Back to top</span>
        </a>
    </div>
    <article>{{> _buttons}}</article>
</section>

<section id="cards">
    <div class="text-right">
        <a href="#">
            <i class="icon icon-arrow-up-circle"></i>
            <span>Back to top</span>
        </a>
    </div>
    <article>{{> _cards}}</article>
</section>

<section id="carousels">
    <div class="text-right">
        <a href="#">
            <i class="icon icon-arrow-up-circle"></i>
            <span>Back to top</span>
        </a>
    </div>
    <article>{{> _carousels}}</article>
</section>

<section id="cover">
    <div class="text-right">
        <a href="#">
            <i class="icon icon-arrow-up-circle"></i>
            <span>Back to top</span>
        </a>
    </div>
    <article>{{> _cover}}</article>
</section>

<section id="forms">
    <div class="text-right">
        <a href="#">
            <i class="icon icon-arrow-up-circle"></i>
            <span>Back to top</span>
        </a>
    </div>
    <article>{{> _forms}}</article>
</section>

<section id="icons">
    <div class="text-right">
        <a href="#">
            <i class="icon icon-arrow-up-circle"></i>
            <span>Back to top</span>
        </a>
    </div>
    <article>{{> _icons}}</article>
</section>

<section id="listgroups">
    <div class="text-right">
        <a href="#">
            <i class="icon icon-arrow-up-circle"></i>
            <span>Back to top</span>
        </a>
    </div>
    <article>{{> _listgroups}}</article>
</section>

<section id="navbar">
    <div class="text-right">
        <a href="#">
            <i class="icon icon-arrow-up-circle"></i>
            <span>Back to top</span>
        </a>
    </div>
    <article>{{> _navbar}}</article>
</section>

<section id="sidebar">
    <div class="text-right">
        <a href="#">
            <i class="icon icon-arrow-up-circle"></i>
            <span>Back to top</span>
        </a>
    </div>
    <article>{{> _sidebar}}</article>
</section>

<section id="steps">
    <div class="text-right">
        <a href="#">
            <i class="icon icon-arrow-up-circle"></i>
            <span>Back to top</span>
        </a>
    </div>
    <article>{{> _steps}}</article>
</section>

<section id="tabs">
    <div class="text-right">
        <a href="#">
            <i class="icon icon-arrow-up-circle"></i>
            <span>Back to top</span>
        </a>
    </div>
    <article>{{> _tabs}}</article>
</section>

<section id="isotope">
    <div class="text-right">
        <a href="#">
            <i class="icon icon-arrow-up-circle"></i>
            <span>Back to top</span>
        </a>
    </div>
    <article>{{> _isotope}}</article>
</section>

<section id="stretcher">
    <div class="text-right">
        <a href="#">
            <i class="icon icon-arrow-up-circle"></i>
            <span>Back to top</span>
        </a>
    </div>
    <article>{{> _stretcher}}</article>
</section>

<section id="tabzy">
    <div class="text-right">
        <a href="#">
            <i class="icon icon-arrow-up-circle"></i>
            <span>Back to top</span>
        </a>
    </div>
    <article>{{> _tabzy}}</article>
</section>

<section id="about">
    <div class="text-right">
        <a href="#">
            <i class="icon icon-arrow-up-circle"></i>
            <span>Back to top</span>
        </a>
    </div>
    <article>{{> _about}}</article>
</section>

<section id="credits">
    <div class="text-right">
        <a href="#">
            <i class="icon icon-arrow-up-circle"></i>
            <span>Back to top</span>
        </a>
    </div>
    <article>{{> _credits}}</article>
</section>
