<header>
    <h2 class="display-4 mb-4">About</h2>
    <p>PaniniTemplate by ElaThemes</p>
</header>

<figure>
    <figcaption>About PaniniTemplate template</figcaption>
    <p>
        PaniniTemplate is extended Bootstrap Template which follow latest standards of markup development. You can build
        unlimited templates and layout variations with just a single stylesheet. With detailed documentation you're
        copy to go ready. Just find component or widget and copy to your section!
    </p>
    <p>
        For professionals and frontend Jedi's who want's to speed up development we have optional step to build
        project with front-end tools and libraries such as Node, Gulp, Handlebars as file generator.
        PaniniTemplate is builted with advanced development toolset such as Gulp, Node.js, SASS, Handlebars.js and
        Panini.js which provide automate painful or time-consuming tasks in your development workflow.
    </p>
</figure>
