<header>
    <h2 class="display-4 mb-4">Accordions</h2>
    <p>Toggle the visibility of content across your project with a few classes and our JavaScript plugins.</p>
</header>

<figure>
    <figcaption>Accordion panel</figcaption>
    <p>Using the card component, you can extend the default collapse behavior to create an accordion. To properly achieve the accordion style, be sure to use .accordion as a wrapper.</p>

    <div class="col-item">
        <div class="accordion" id="accordion1">
            <!--Item 1-->
            <div class="card card-panel">
                <div class="card-header py-4" id="headingOne2" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                    Collapsible Item #1
                </div>
                <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne1" data-parent="#accordion1">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                        richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                        brunch. Food truck quinoa nesciunt laborum eiusmod.
                    </div>
                </div>
            </div>
            <!--Item 2-->
            <div class="card card-panel">
                <div class="card-header py-4 collapsed" id="headingTwo2" data-toggle="collapse" data-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                    Collapsible Item #2
                </div>
                <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo1" data-parent="#accordion1">
                    <div class="card-body">
                        Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                        synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <!--Item 3-->
            <div class="card card-panel">
                <div class="card-header py-4 collapsed" id="headingThree1" data-toggle="collapse" data-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
                    Collapsible Item #3
                </div>
                <div id="collapseThree1" class="collapse" aria-labelledby="headingThree1" data-parent="#accordion1">
                    <div class="card-body">
                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                        nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">HTML</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;accordion&quot; id=&quot;accordion1&quot;&gt;
    &lt;!--Item 1--&gt;
    &lt;div class=&quot;card card-panel&quot;&gt;
        &lt;div class=&quot;card-header py-4&quot; id=&quot;headingOne2&quot; data-toggle=&quot;collapse&quot; data-target=&quot;#collapseOne1&quot; aria-expanded=&quot;true&quot; aria-controls=&quot;collapseOne1&quot;&gt;
            Collapsible Item #1
        &lt;/div&gt;
        &lt;div id=&quot;collapseOne1&quot; class=&quot;collapse show&quot; aria-labelledby=&quot;headingOne1&quot; data-parent=&quot;#accordion1&quot;&gt;
            &lt;div class=&quot;card-body&quot;&gt;
                ...
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!--Item 2--&gt;
    &lt;div class=&quot;card card-panel&quot;&gt;
        &lt;div class=&quot;card-header py-4 collapsed&quot; id=&quot;headingTwo2&quot; data-toggle=&quot;collapse&quot; data-target=&quot;#collapseTwo1&quot; aria-expanded=&quot;false&quot; aria-controls=&quot;collapseTwo1&quot;&gt;
            Collapsible Item #2
        &lt;/div&gt;
        &lt;div id=&quot;collapseTwo1&quot; class=&quot;collapse&quot; aria-labelledby=&quot;headingTwo1&quot; data-parent=&quot;#accordion1&quot;&gt;
            &lt;div class=&quot;card-body&quot;&gt;
                ...
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!--Item 3--&gt;
    &lt;div class=&quot;card card-panel&quot;&gt;
        &lt;div class=&quot;card-header py-4 collapsed&quot; id=&quot;headingThree1&quot; data-toggle=&quot;collapse&quot; data-target=&quot;#collapseThree1&quot; aria-expanded=&quot;false&quot; aria-controls=&quot;collapseThree1&quot;&gt;
            Collapsible Item #3
        &lt;/div&gt;
        &lt;div id=&quot;collapseThree1&quot; class=&quot;collapse&quot; aria-labelledby=&quot;headingThree1&quot; data-parent=&quot;#accordion1&quot;&gt;
            &lt;div class=&quot;card-body&quot;&gt;
                ...
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Accordion box</figcaption>
    <p>Accordion box is extended feature. Use image or solid background style for additional options.</p>

    <div class="row">
        <div class="col-md-6">
            <div class="accordion br-sm" id="accordion2">
                <!--Item 1-->
                <div class="box box-image" style="background-image:url({{docs.img}}placeholder.jpg)">
                    <div class="box-content text-white" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="false" aria-controls="collapseOne2">
                        <div class="row align-items-center no-gutters">
                            <div class="col-auto">
                                <span class="pr-3"><i class="icon icon-star"></i></span>
                            </div>
                            <div class="col">
                                <strong>First tab item</strong> <br />
                                <span>Another great example</span>
                            </div>
                        </div>
                    </div>
                    <div id="collapseOne2" class="collapse" aria-labelledby="headingOne1" data-parent="#accordion2">
                        <div class="box-spacer"></div>
                        <div class="box-content text-right">
                            <a href="#" class="btn btn-outline-light">Read more</a>
                        </div>
                    </div>
                </div>
                <!--Item 2-->
                <div class="box box-image" style="background-image:url({{docs.img}}placeholder.jpg)">
                    <div class="box-content text-white" data-toggle="collapse" data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                        <div class="row align-items-center no-gutters">
                            <div class="col-auto">
                                <span class="pr-3"><i class="icon icon-star"></i></span>
                            </div>
                            <div class="col">
                                <strong>Second tab item</strong> <br />
                                <span>Another great example</span>
                            </div>
                        </div>
                    </div>
                    <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo1" data-parent="#accordion2">
                        <div class="box-spacer"></div>
                        <div class="box-content text-right">
                            <a href="#" class="btn btn-outline-light">Read more</a>
                        </div>
                    </div>
                </div>
                <!--Item 3-->
                <div class="box box-image" style="background-image:url({{docs.img}}placeholder.jpg)">
                    <div class="box-content text-white" data-toggle="collapse" data-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                        <div class="row align-items-center no-gutters">
                            <div class="col-auto">
                                <span class="pr-3"><i class="icon icon-star"></i></span>
                            </div>
                            <div class="col">
                                <strong>Third tab item</strong> <br />
                                <span>Another great example</span>
                            </div>
                        </div>
                    </div>
                    <div id="collapseThree2" class="collapse" aria-labelledby="headingThree1" data-parent="#accordion2">
                        <div class="box-spacer"></div>
                        <div class="box-content text-right">
                            <a href="#" class="btn btn-outline-light">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="accordion br-sm" id="accordion3">
                <!--Item 1-->
                <div class="box box-image bg-primary">
                    <div class="box-content text-white" data-toggle="collapse" data-target="#collapseOne3" aria-expanded="true" aria-controls="collapseOne3">
                        <div class="row align-items-center no-gutters">
                            <div class="col-auto">
                                <span class="pr-3"><i class="icon icon-star"></i></span>
                            </div>
                            <div class="col">
                                <strong>First tab item</strong> <br />
                                <span>Another great example</span>
                            </div>
                        </div>
                    </div>
                    <div id="collapseOne3" class="collapse" aria-labelledby="headingOne1" data-parent="#accordion3">
                        <div class="box-spacer"></div>
                        <div class="box-content text-right">
                            <a href="#" class="btn btn-outline-light">Read more</a>
                        </div>
                    </div>
                </div>
                <!--Item 2-->
                <div class="box box-image bg-warning">
                    <div class="box-content text-white" data-toggle="collapse" data-target="#collapseTwo3" aria-expanded="false" aria-controls="collapseTwo3">
                        <div class="row align-items-center no-gutters">
                            <div class="col-auto">
                                <span class="pr-3"><i class="icon icon-star"></i></span>
                            </div>
                            <div class="col">
                                <strong>Second tab item</strong> <br />
                                <span>Another great example</span>
                            </div>
                        </div>
                    </div>
                    <div id="collapseTwo3" class="collapse" aria-labelledby="headingTwo1" data-parent="#accordion3">
                        <div class="box-spacer"></div>
                        <div class="box-content text-right">
                            <a href="#" class="btn btn-outline-light">Read more</a>
                        </div>
                    </div>
                </div>
                <!--Item 3-->
                <div class="box box-image bg-danger">
                    <div class="box-content text-white" data-toggle="collapse" data-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                        <div class="row align-items-center no-gutters">
                            <div class="col-auto">
                                <span class="pr-3"><i class="icon icon-star"></i></span>
                            </div>
                            <div class="col">
                                <strong>Third tab item</strong> <br />
                                <span>Another great example</span>
                            </div>
                        </div>
                    </div>
                    <div id="collapseThree3" class="collapse" aria-labelledby="headingThree1" data-parent="#accordion3">
                        <div class="box-spacer"></div>
                        <div class="box-content text-right">
                            <a href="#" class="btn btn-outline-light">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">HTML</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;accordion br-sm&quot; id=&quot;accordion2&quot;&gt;
    &lt;!--Item 1--&gt;
    &lt;div class=&quot;box box-image&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;
        &lt;div class=&quot;box-content text-white&quot; data-toggle=&quot;collapse&quot; data-target=&quot;#collapseOne2&quot; aria-expanded=&quot;false&quot; aria-controls=&quot;collapseOne2&quot;&gt;
            &lt;div class=&quot;row align-items-center no-gutters&quot;&gt;
                &lt;div class=&quot;col-auto&quot;&gt;
                    &lt;span class=&quot;pr-3&quot;&gt;&lt;i class=&quot;icon icon-star&quot;&gt;&lt;/i&gt;&lt;/span&gt;
                &lt;/div&gt;
                &lt;div class=&quot;col&quot;&gt;
                    &lt;strong&gt;First tab item&lt;/strong&gt; &lt;br /&gt;
                    &lt;span&gt;Another great example&lt;/span&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div id=&quot;collapseOne2&quot; class=&quot;collapse&quot; aria-labelledby=&quot;headingOne1&quot; data-parent=&quot;#accordion2&quot;&gt;
            &lt;div class=&quot;box-spacer&quot;&gt;&lt;/div&gt;
            &lt;div class=&quot;box-content text-right&quot;&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn btn-outline-light&quot;&gt;Read more&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!--Item 2--&gt;
    &lt;div class=&quot;box box-image&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;
        &lt;div class=&quot;box-content text-white&quot; data-toggle=&quot;collapse&quot; data-target=&quot;#collapseTwo2&quot; aria-expanded=&quot;false&quot; aria-controls=&quot;collapseTwo2&quot;&gt;
            &lt;div class=&quot;row align-items-center no-gutters&quot;&gt;
                &lt;div class=&quot;col-auto&quot;&gt;
                    &lt;span class=&quot;pr-3&quot;&gt;&lt;i class=&quot;icon icon-star&quot;&gt;&lt;/i&gt;&lt;/span&gt;
                &lt;/div&gt;
                &lt;div class=&quot;col&quot;&gt;
                    &lt;strong&gt;Second tab item&lt;/strong&gt; &lt;br /&gt;
                    &lt;span&gt;Another great example&lt;/span&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div id=&quot;collapseTwo2&quot; class=&quot;collapse&quot; aria-labelledby=&quot;headingTwo1&quot; data-parent=&quot;#accordion2&quot;&gt;
            &lt;div class=&quot;box-spacer&quot;&gt;&lt;/div&gt;
            &lt;div class=&quot;box-content text-right&quot;&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn btn-outline-light&quot;&gt;Read more&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!--Item 3--&gt;
    &lt;div class=&quot;box box-image&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;
        &lt;div class=&quot;box-content text-white&quot; data-toggle=&quot;collapse&quot; data-target=&quot;#collapseThree2&quot; aria-expanded=&quot;false&quot; aria-controls=&quot;collapseThree2&quot;&gt;
            &lt;div class=&quot;row align-items-center no-gutters&quot;&gt;
                &lt;div class=&quot;col-auto&quot;&gt;
                    &lt;span class=&quot;pr-3&quot;&gt;&lt;i class=&quot;icon icon-star&quot;&gt;&lt;/i&gt;&lt;/span&gt;
                &lt;/div&gt;
                &lt;div class=&quot;col&quot;&gt;
                    &lt;strong&gt;Third tab item&lt;/strong&gt; &lt;br /&gt;
                    &lt;span&gt;Another great example&lt;/span&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div id=&quot;collapseThree2&quot; class=&quot;collapse&quot; aria-labelledby=&quot;headingThree1&quot; data-parent=&quot;#accordion2&quot;&gt;
            &lt;div class=&quot;box-spacer&quot;&gt;&lt;/div&gt;
            &lt;div class=&quot;box-content text-right&quot;&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn btn-outline-light&quot;&gt;Read more&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>

    <figcaption>Accordion card</figcaption>

    <div class="col-item">
        <div class="accordion br-sm" id="accordion4">
            <!--Item 2-->
            <div class="card">
                <div class="card-header card-dim" data-toggle="collapse" data-target="#collapseOne4" aria-expanded="true" aria-controls="collapseOne4">
                    First tab group
                </div>
                <div id="collapseOne4" class="collapse show" aria-labelledby="headingOne4" data-parent="#accordion4">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                    </div>
                </div>
            </div>
            <!--Item 2-->
            <div class="card">
                <div class="card-header card-dim" data-toggle="collapse" data-target="#collapseTwo4" aria-expanded="false" aria-controls="collapseTwo4">
                    Second tab group
                </div>
                <div id="collapseTwo4" class="collapse" aria-labelledby="headingTwo4" data-parent="#accordion4">
                    <div class="card-body">
                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident
                    </div>
                </div>
            </div>
            <!--Item 2-->
            <div class="card">
                <div class="card-header card-dim" data-toggle="collapse" data-target="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4">
                    Third tab group
                </div>
                <div id="collapseThree4" class="collapse" aria-labelledby="headingThree4" data-parent="#accordion4">
                    <div class="card-body">
                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">HTML</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;accordion br-sm&quot; id=&quot;accordionExample3&quot;&gt;
    &lt;!--Item 2--&gt;
    &lt;div class=&quot;card card-fill&quot;&gt;
        &lt;div class=&quot;card-header card-dim&quot; data-toggle=&quot;collapse&quot; data-target=&quot;#collapseOne3&quot; aria-expanded=&quot;true&quot; aria-controls=&quot;collapseOne3&quot;&gt;
            First tab group
        &lt;/div&gt;
        &lt;div id=&quot;collapseOne3&quot; class=&quot;collapse show&quot; aria-labelledby=&quot;headingOne3&quot; data-parent=&quot;#accordionExample3&quot;&gt;
            &lt;div class=&quot;card-body&quot;&gt;
                ...
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!--Item 2--&gt;
    &lt;div class=&quot;card card-fill&quot;&gt;
        &lt;div class=&quot;card-header card-dim&quot; data-toggle=&quot;collapse&quot; data-target=&quot;#collapseTwo3&quot; aria-expanded=&quot;false&quot; aria-controls=&quot;collapseTwo3&quot;&gt;
            Second tab group
        &lt;/div&gt;
        &lt;div id=&quot;collapseTwo3&quot; class=&quot;collapse&quot; aria-labelledby=&quot;headingTwo3&quot; data-parent=&quot;#accordionExample3&quot;&gt;
            &lt;div class=&quot;card-body&quot;&gt;
                ...
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!--Item 2--&gt;
    &lt;div class=&quot;card card-fill&quot;&gt;
        &lt;div class=&quot;card-header card-dim&quot; data-toggle=&quot;collapse&quot; data-target=&quot;#collapseThree3&quot; aria-expanded=&quot;false&quot; aria-controls=&quot;collapseThree3&quot;&gt;
            Third tab group
        &lt;/div&gt;
        &lt;div id=&quot;collapseThree3&quot; class=&quot;collapse&quot; aria-labelledby=&quot;headingThree3&quot; data-parent=&quot;#accordionExample3&quot;&gt;
            &lt;div class=&quot;card-body&quot;&gt;
                ...
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>
