<header>
    <h2 class="display-4 mb-4">Banners</h2>
    <p>A lightweight, flexible component that can optionally extend the entire viewport to showcase key marketing messages on your site.</p>
</header>

<figure>
    <figcaption>Example</figcaption>
    <div class="box box-image br-sm" style="background-image:url({{docs.img}}placeholder-wide.jpg)">
        <div class="box-content-lg px-5 text-center text-white">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h1 class="display-4">Hello, world!</h1>
                    <p class="lead mb-5">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                    <a href="#" class="btn btn-primary">Contact us</a>
                </div>
            </div>
        </div>
    </div>

    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;box box-image br-sm&quot; style=&quot;background-image:url(placeholder-wide.jpg)&quot;&gt;
    &lt;div class=&quot;box-content px-5 text-center text-white&quot;&gt;
        &lt;div class=&quot;row justify-content-center&quot;&gt;
            &lt;div class=&quot;col-md-8&quot;&gt;
                &lt;h1 class=&quot;display-4&quot;&gt;Hello, world!&lt;/h1&gt;
                &lt;p class=&quot;lead mb-5&quot;&gt;
                    This is a simple hero unit, a simple jumbotron-style component for 
                    calling extra attention to featured content or information.
                &lt;/p&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn btn-primary&quot;&gt;Contact us&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Image Parallax</figcaption>

    <div class="box box-image box-parallax br-md" style="background-image:url({{docs.img}}placeholder-wide.jpg)">
        <div class="box-content px-5 text-center text-white">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h1 class="display-4">Hello, world!</h1>
                    <p class="lead mb-5">
                        This is a simple hero unit, a simple jumbotron-style component
                        for calling extra attention to featured content or information.
                    </p>
                    <a href="#" class="btn btn-outline-light">Explore now</a>
                </div>
            </div>
        </div>
    </div>

    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;box box-image box-parallax br-md&quot; style=&quot;background-image:url(placeholder-wide.jpg)&quot;&gt;
    &lt;div class=&quot;box-content px-5 text-center text-white&quot;&gt;
        &lt;div class=&quot;row justify-content-center&quot;&gt;
            &lt;div class=&quot;col-md-8&quot;&gt;
                &lt;h1 class=&quot;display-4&quot;&gt;Hello, world!&lt;/h1&gt;
                &lt;p class=&quot;lead mb-5&quot;&gt;
                    This is a simple hero unit, a simple jumbotron-style component
                    for calling extra attention to featured content or information.
                &lt;/p&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn btn-outline-light&quot;&gt;Explore now&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Call to action</figcaption>

    <div class="box box-image bg-primary text-white p-5 br-lg">
        <div class="row justify-content-between align-items-center text-center text-md-left">
            <div class="col-md-3">
                <h3>Real deal!</h3>
            </div>
            <div class="col-md-6">
                <p class="mb-md-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-md-3 text-lg-right">
                <a href="#" class="btn btn-rounded btn-outline-light px-5">Go!</a>
            </div>
        </div>
    </div>
</figure>

<!--Snippet-->
<div class="clearfix">
    <div class="snippet">
        <span class="pre-label">Code</span>
        <div class="snippet-box show">
            <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;box box-image bg-primary text-white p-5 br-lg&quot;&gt;
    &lt;div class=&quot;row justify-content-between align-items-center text-center text-md-left&quot;&gt;
        &lt;div class=&quot;col-md-3&quot;&gt;
            &lt;h3&gt;Real deal!&lt;/h3&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-md-6&quot;&gt;
            &lt;p class=&quot;mb-md-0&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&lt;/p&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-md-3 text-lg-right&quot;&gt;
            &lt;a href=&quot;&quot; class=&quot;btn btn-rounded btn-outline-light px-5&quot;&gt;Go!&lt;/a&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
        </div>
    </div>
</div>
<!--/Snippet-->
