<header>
    <h2 class="display-4 mb-4">Buttons</h2>
    <p>Bootstrap’s cards provide a flexible and extensible content container with multiple variants and options.</p>
</header>

<figure>
    <figcaption>Buttons variations and options</figcaption>
    <p>Buttons have three different variations type. Main button is default, for rounded use <code>.btn-rounded</code> and for circle button use <code>.btn-icon</code> class.</p>

    <div class="mb-5">
        <div class="row">
            <div class="col-3">
                <strong>Main button</strong>
                <div>Large and small</div>
            </div>
            <div class="col-9">
                <button type="button" class="btn btn-primary btn-lg">Primary large</button>
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn btn-primary btn-sm">Primary small</button>
            </div>
        </div>
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg&quot;&gt;Primary large&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Primary&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-sm&quot;&gt;Primary small&lt;/button&gt;
</code></pre>
            </div>
        </div>
    </div>

    <div class="mb-5">
        <div class="row">
            <div class="col-3">
                <strong>Rounded button</strong>
                <div>Large and small</div>
            </div>
            <div class="col-9">
                <button type="button" class="btn btn-primary btn-rounded btn-lg">Rounded large</button>
                <button type="button" class="btn btn-primary btn-rounded">Rounded</button>
                <button type="button" class="btn btn-outline-primary btn-rounded btn-sm">Rounded small</button>
            </div>
        </div>
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-rounded btn-lg&quot;&gt;Rounded large&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-rounded&quot;&gt;Rounded&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-outline-primary btn-rounded btn-sm&quot;&gt;Rounded small&lt;/button&gt;
</code></pre>
            </div>
        </div>
    </div>

    <div class="mb-5">
        <div class="row">
            <div class="col-3">
                <strong>Circle button</strong>
                <div>Large and small</div>
            </div>
            <div class="col-9">
                <button type="button" class="btn btn-primary btn-icon btn-lg"><i class="icon icon-star"></i></button>
                <button type="button" class="btn btn-primary btn-icon"><i class="icon icon-star"></i></button>
                <button type="button" class="btn btn-outline-primary btn-icon btn-sm"><i class="icon icon-arrow-right"></i></button>
            </div>
        </div>
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-icon btn-lg&quot;&gt;&lt;i class=&quot;icon icon-star&quot;&gt;&lt;/i&gt;&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-icon&quot;&gt;&lt;i class=&quot;icon icon-star&quot;&gt;&lt;/i&gt;&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-outline-primary btn-icon btn-sm&quot;&gt;&lt;i class=&quot;icon icon-arrow-right&quot;&gt;&lt;/i&gt;&lt;/button&gt;
</code></pre>
            </div>
        </div>
    </div>
</figure>

<figure>
    <figcaption>Buttons colors</figcaption>
    <p>PaniniTemplate template includes several predefined button styles, each serving its own semantic purpose, with a few extras thrown in for more control.</p>
    <div class="mb-2">
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-white">White</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-dark">Dark</button>
        <button type="button" class="btn btn-gray">Gray</button>
        <button type="button" class="btn btn-link">Link</button>
    </div>

    <!--Snippet-->
    <div class="snippet">
        <span class="pre-label">Code</span>
        <div class="snippet-box show">
            <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Primary&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-secondary&quot;&gt;Secondary&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-success&quot;&gt;Success&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-danger&quot;&gt;Danger&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-warning&quot;&gt;Warning&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-info&quot;&gt;Info&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-white&quot;&gt;White&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-light&quot;&gt;Light&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-dark&quot;&gt;Dark&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-gray&quot;&gt;Gray&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-link&quot;&gt;Link&lt;/button&gt;
</code></pre>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Outline buttons</figcaption>
    <p>In need of a button, but not the hefty background colors they bring? Replace the default modifier classes with the <code>.btn-outline-*</code> ones to remove all background images and colors on any button.</p>

    <div class="mb-4">
        <button type="button" class="btn btn-outline-primary">Primary</button>
        <button type="button" class="btn btn-outline-secondary">Secondary</button>
        <button type="button" class="btn btn-outline-success">Success</button>
        <button type="button" class="btn btn-outline-danger">Danger</button>
        <button type="button" class="btn btn-outline-warning">Warning</button>
        <button type="button" class="btn btn-outline-info">Info</button>
        <button type="button" class="btn btn-outline-white">White</button>
        <button type="button" class="btn btn-outline-light">Light</button>
        <button type="button" class="btn btn-outline-gray">Gray</button>
        <button type="button" class="btn btn-outline-dark">Dark</button>
        <button type="button" class="btn btn-outline-link">Link</button>
    </div>
    <!--Snippet-->
    <div class="snippet">
        <span class="pre-label">Code</span>
        <div class="snippet-box show">
            <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;button type=&quot;button&quot; class=&quot;btn btn-outline-primary&quot;&gt;Primary&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-outline-secondary&quot;&gt;Secondary&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-outline-success&quot;&gt;Success&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-outline-danger&quot;&gt;Danger&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-outline-warning&quot;&gt;Warning&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-outline-info&quot;&gt;Info&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-outline-white&quot;&gt;White&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-outline-light&quot;&gt;Light&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-outline-gray&quot;&gt;Gray&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-outline-dark&quot;&gt;Dark&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-outline-link&quot;&gt;Link&lt;/button&gt;
</code></pre>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Social buttons</figcaption>
    <p>Social buttons collection with color scheme are available through extended classes. It can be combined with all features such as scaling, resizing and other variants.</p>

    <div class="mb-2">
        <button type="button" class="mb-1 btn btn-adn">.btn-adn</button>
        <button type="button" class="mb-1 btn btn-bitbucket">.btn-bitbucket</button>
        <button type="button" class="mb-1 btn btn-dropbox">.btn-dropbox</button>
        <button type="button" class="mb-1 btn btn-facebook">.btn-facebook</button>
        <button type="button" class="mb-1 btn btn-flickr">.btn-flickr</button>
        <button type="button" class="mb-1 btn btn-foursquare">.btn-foursquare</button>
        <button type="button" class="mb-1 btn btn-github">.btn-github</button>
        <button type="button" class="mb-1 btn btn-google">.btn-google</button>
        <button type="button" class="mb-1 btn btn-instagram">.btn-instagram</button>
        <button type="button" class="mb-1 btn btn-linkedin">.btn-linkedin</button>
        <button type="button" class="mb-1 btn btn-microsoft">.btn-microsoft</button>
        <button type="button" class="mb-1 btn btn-odnoklassniki">.btn-odnoklassniki</button>
        <button type="button" class="mb-1 btn btn-openid">.btn-openid</button>
        <button type="button" class="mb-1 btn btn-pinterest">.btn-pinterest</button>
        <button type="button" class="mb-1 btn btn-reddit">.btn-reddit</button>
        <button type="button" class="mb-1 btn btn-soundcloud">.btn-soundcloud</button>
        <button type="button" class="mb-1 btn btn-tumblr">.btn-tumblr</button>
        <button type="button" class="mb-1 btn btn-twitter">.btn-twitter</button>
        <button type="button" class="mb-1 btn btn-vimeo">.btn-vimeo</button>
        <button type="button" class="mb-1 btn btn-vk">.btn-vk</button>
        <button type="button" class="mb-1 btn btn-yahoo">.btn-yahoo</button>

    </div>

    <!--Snippet-->
    <div class="snippet">
        <span class="pre-label">Code</span>
        <div class="snippet-box show">
            <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;button type=&quot;button&quot; class=&quot;btn btn-adn&quot;&gt;.btn-adn&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-bitbucket&quot;&gt;.btn-bitbucket&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-dropbox&quot;&gt;.btn-dropbox&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-facebook&quot;&gt;.btn-facebook&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-flickr&quot;&gt;.btn-flickr&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-foursquare&quot;&gt;.btn-foursquare&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-github&quot;&gt;.btn-github&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-google&quot;&gt;.btn-google&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-instagram&quot;&gt;.btn-instagram&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-linkedin&quot;&gt;.btn-linkedin&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-microsoft&quot;&gt;.btn-microsoft&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-odnoklassniki&quot;&gt;.btn-odnoklassniki&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-openid&quot;&gt;.btn-openid&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pinterest&quot;&gt;.btn-pinterest&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-reddit&quot;&gt;.btn-reddit&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-soundcloud&quot;&gt;.btn-soundcloud&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-tumblr&quot;&gt;.btn-tumblr&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-twitter&quot;&gt;.btn-twitter&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-vimeo&quot;&gt;.btn-vimeo&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-vk&quot;&gt;.btn-vk&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-yahoo&quot;&gt;.btn-yahoo&lt;/button&gt;
</code></pre>
        </div>
    </div>
    <!--/Snippet-->

</figure>

<figure>
    <figcaption>Social buttons with icons</figcaption>
    <p>Social Sign-In Buttons made in pure CSS based on Bootstrap and Font Awesome!</p>

    <button type="button" class="mb-1 btn btn-icon btn-adn">
        <i class="fa fa-adn"></i>
    </button>
    <button type="button" class="mb-1 btn btn-icon btn-bitbucket">
        <i class="fa fa-bitbucket"></i>
    </button>
    <button type="button" class="mb-1 btn btn-icon btn-dropbox">
        <i class="fa fa-dropbox"></i>
    </button>
    <button type="button" class="mb-1 btn btn-icon btn-facebook">
        <i class="fa fa-facebook"></i>
    </button>
    <button type="button" class="mb-1 btn btn-icon btn-flickr">
        <i class="fa fa-flickr"></i>
    </button>
    <button type="button" class="mb-1 btn btn-icon btn-foursquare">
        <i class="fa fa-foursquare"></i>
    </button>
    <button type="button" class="mb-1 btn btn-icon btn-github">
        <i class="fa fa-github"></i>
    </button>
    <button type="button" class="mb-1 btn btn-icon btn-google">
        <i class="fa fa-google"></i>
    </button>
    <button type="button" class="mb-1 btn btn-icon btn-instagram">
        <i class="fa fa-instagram"></i>
    </button>
    <button type="button" class="mb-1 btn btn-icon btn-linkedin">
        <i class="fa fa-linkedin"></i>
    </button>
    <button type="button" class="mb-1 btn btn-icon btn-microsoft">
        <i class="fa fa-windows"></i>
    </button>
    <button type="button" class="mb-1 btn btn-icon btn-odnoklassniki">
        <i class="fa fa-odnoklassniki"></i>
    </button>
    <button type="button" class="mb-1 btn btn-icon btn-openid">
        <i class="fa fa-openid"></i>
    </button>
    <button type="button" class="mb-1 btn btn-icon btn-pinterest">
        <i class="fa fa-pinterest"></i>
    </button>
    <button type="button" class="mb-1 btn btn-icon btn-reddit">
        <i class="fa fa-reddit"></i>
    </button>
    <button type="button" class="mb-1 btn btn-icon btn-soundcloud">
        <i class="fa fa-soundcloud"></i>
    </button>
    <button type="button" class="mb-1 btn btn-icon btn-tumblr">
        <i class="fa fa-tumblr"></i>
    </button>
    <button type="button" class="mb-1 btn btn-icon btn-twitter">
        <i class="fa fa-twitter"></i>
    </button>
    <button type="button" class="mb-1 btn btn-icon btn-vimeo">
        <i class="fa fa-vimeo"></i>
    </button>
    <button type="button" class="mb-1 btn btn-icon btn-vk">
        <i class="fa fa-vk"></i>
    </button>
    <button type="button" class="mb-1 btn btn-icon btn-yahoo">
        <i class="fa fa-yahoo"></i>
    </button>

    <!--Snippet-->
    <div class="snippet">
        <span class="pre-label">Code</span>
        <div class="snippet-box show">
            <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;button type=&quot;button&quot; class=&quot;btn btn-icon btn-adn&quot;&gt;
    &lt;i class=&quot;fa fa-adn&quot;&gt;&lt;/i&gt;
&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-icon btn-bitbucket&quot;&gt;
    &lt;i class=&quot;fa fa-bitbucket&quot;&gt;&lt;/i&gt;
&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-icon btn-dropbox&quot;&gt;
    &lt;i class=&quot;fa fa-dropbox&quot;&gt;&lt;/i&gt;
&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-icon btn-facebook&quot;&gt;
    &lt;i class=&quot;fa fa-facebook&quot;&gt;&lt;/i&gt;
&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-icon btn-flickr&quot;&gt;
    &lt;i class=&quot;fa fa-flickr&quot;&gt;&lt;/i&gt;
&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-icon btn-foursquare&quot;&gt;
    &lt;i class=&quot;fa fa-foursquare&quot;&gt;&lt;/i&gt;
&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-icon btn-github&quot;&gt;
    &lt;i class=&quot;fa fa-github&quot;&gt;&lt;/i&gt;
&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-icon btn-google&quot;&gt;
    &lt;i class=&quot;fa fa-google&quot;&gt;&lt;/i&gt;
&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-icon btn-instagram&quot;&gt;
    &lt;i class=&quot;fa fa-instagram&quot;&gt;&lt;/i&gt;
&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-icon btn-linkedin&quot;&gt;
    &lt;i class=&quot;fa fa-linkedin&quot;&gt;&lt;/i&gt;
&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-icon btn-microsoft&quot;&gt;
    &lt;i class=&quot;fa fa-windows&quot;&gt;&lt;/i&gt;
&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-icon btn-odnoklassniki&quot;&gt;
    &lt;i class=&quot;fa fa-odnoklassniki&quot;&gt;&lt;/i&gt;
&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-icon btn-openid&quot;&gt;
    &lt;i class=&quot;fa fa-openid&quot;&gt;&lt;/i&gt;
&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-icon btn-pinterest&quot;&gt;
    &lt;i class=&quot;fa fa-pinterest&quot;&gt;&lt;/i&gt;
&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-icon btn-reddit&quot;&gt;
    &lt;i class=&quot;fa fa-reddit&quot;&gt;&lt;/i&gt;
&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-icon btn-soundcloud&quot;&gt;
    &lt;i class=&quot;fa fa-soundcloud&quot;&gt;&lt;/i&gt;
&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-icon btn-tumblr&quot;&gt;
    &lt;i class=&quot;fa fa-tumblr&quot;&gt;&lt;/i&gt;
&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-icon btn-twitter&quot;&gt;
    &lt;i class=&quot;fa fa-twitter&quot;&gt;&lt;/i&gt;
&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-icon btn-vimeo&quot;&gt;
    &lt;i class=&quot;fa fa-vimeo&quot;&gt;&lt;/i&gt;
&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-icon btn-vk&quot;&gt;
    &lt;i class=&quot;fa fa-vk&quot;&gt;&lt;/i&gt;
&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-icon btn-yahoo&quot;&gt;
    &lt;i class=&quot;fa fa-yahoo&quot;&gt;&lt;/i&gt;
&lt;/button&gt;
</code></pre>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Buttons animations</figcaption>
    <p>PaniniTemplate template includes several predefined button styles, each serving its own semantic purpose, with a few extras thrown in for more control.</p>

    <h5>Button slide</h5>

    <div class="mb-5">
        <button type="button" class="btn btn-slide btn-slide-primary">Primary</button>
        <button type="button" class="btn btn-slide btn-slide-secondary">Secondary</button>
        <button type="button" class="btn btn-slide btn-slide-success">Success</button>
        <button type="button" class="btn btn-slide btn-slide-danger">Danger</button>
        <button type="button" class="btn btn-slide btn-slide-warning">Warning</button>
        <button type="button" class="btn btn-slide btn-slide-info">Info</button>
        <button type="button" class="btn btn-slide btn-slide-light">Light</button>
        <button type="button" class="btn btn-slide btn-slide-dark">Dark</button>
    </div>

    <h5>Button blink</h5>

    <div class="mb-2">
        <button type="button" class="btn btn-blink btn-blink-primary mb-4">Primary</button> &nbsp; &nbsp;
        <button type="button" class="btn btn-blink btn-blink-secondary mb-4">Secondary</button> &nbsp; &nbsp;
        <button type="button" class="btn btn-blink btn-blink-success mb-4">Success</button> &nbsp; &nbsp;
        <button type="button" class="btn btn-blink btn-blink-danger mb-4">Danger</button> &nbsp; &nbsp;
        <button type="button" class="btn btn-blink btn-blink-warning mb-4">Warning</button> &nbsp; &nbsp;
        <button type="button" class="btn btn-blink btn-blink-info mb-4">Info</button> &nbsp; &nbsp;
        <button type="button" class="btn btn-blink btn-blink-light mb-4">Light</button> &nbsp; &nbsp;
        <button type="button" class="btn btn-blink btn-blink-dark mb-4">Dark</button> &nbsp; &nbsp;
    </div>

    <!--Snippet-->
    <div class="snippet">
        <span class="pre-label">Code</span>
        <div class="snippet-box show">
            <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;!--Button slide--&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-slide btn-slide-primary&quot;&gt;Primary&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-slide btn-slide-secondary&quot;&gt;Secondary&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-slide btn-slide-success&quot;&gt;Success&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-slide btn-slide-danger&quot;&gt;Danger&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-slide btn-slide-warning&quot;&gt;Warning&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-slide btn-slide-info&quot;&gt;Info&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-slide btn-slide-light&quot;&gt;Light&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-slide btn-slide-dark&quot;&gt;Dark&lt;/button&gt;

&lt;!--Button blink--&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-blink btn-blink-primary&quot;&gt;Primary&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-blink btn-blink-secondary&quot;&gt;Secondary&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-blink btn-blink-success&quot;&gt;Success&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-blink btn-blink-danger&quot;&gt;Danger&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-blink btn-blink-warning&quot;&gt;Warning&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-blink btn-blink-info&quot;&gt;Info&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-blink btn-blink-light&quot;&gt;Light&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-blink btn-blink-dark&quot;&gt;Dark&lt;/button&gt;
</code></pre>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Links</figcaption>
    <p>Custom links with animations</p>

    <div class="mb-5">
        <h5>Link main</h5>
        <p><a href="#" class="link link-main link-primary">Link main primary</a></p>
        <p><a href="#" class="link link-main link-secondary">Link main secondary</a></p>
        <p><a href="#" class="link link-main link-success">Link main success</a></p>
        <p><a href="#" class="link link-main link-danger">Link main danger</a></p>
        <p><a href="#" class="link link-main link-warning">Link main warning</a></p>
        <p><a href="#" class="link link-main link-info">Link main info</a></p>
        <p><span class="bg-dark"><a href="#" class="link link-main link-light">Link main light</a></span></p>
        <p><a href="#" class="link link-main link-dark">Link main dark</a></p>
    </div>

    <!--Snippet-->
    <div class="snippet">
        <span class="pre-label">Code</span>
        <div class="snippet-box show">
            <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;a href=&quot;#&quot; class=&quot;link link-main link-primary&quot;&gt;Link main primary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;link link-main link-secondary&quot;&gt;Link main secondary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;link link-main link-success&quot;&gt;Link main success&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;link link-main link-danger&quot;&gt;Link main danger&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;link link-main link-warning&quot;&gt;Link main warning&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;link link-main link-info&quot;&gt;Link main info&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;link link-main link-light&quot;&gt;Link main light&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;link link-main link-dark&quot;&gt;Link main dark&lt;/a&gt;
</code></pre>
        </div>
    </div>
    <!--/Snippet-->

    <div class="mb-5">
        <h5>Link swipe</h5>
        <p><a href="#" class="link link-swipe link-primary">Link swipe primary</a></p>
        <p><a href="#" class="link link-swipe link-secondary">Link swipe secondary</a></p>
        <p><a href="#" class="link link-swipe link-success">Link swipe success</a></p>
        <p><a href="#" class="link link-swipe link-danger">Link swipe danger</a></p>
        <p><a href="#" class="link link-swipe link-warning">Link swipe warning</a></p>
        <p><a href="#" class="link link-swipe link-info">Link swipe info</a></p>
        <p><span class="bg-dark p-2"><a href="#" class="link link-swipe link-light">Link swipe light</a></span></p>
        <p><a href="#" class="link link-swipe link-dark">Link swipe dark</a></p>
    </div>

    <!--Snippet-->
    <div class="snippet">
        <span class="pre-label">Code</span>
        <div class="snippet-box show">
            <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;a href=&quot;#&quot; class=&quot;link link-swipe link-primary&quot;&gt;Link swipe primary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;link link-swipe link-secondary&quot;&gt;Link swipe secondary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;link link-swipe link-success&quot;&gt;Link swipe success&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;link link-swipe link-danger&quot;&gt;Link swipe danger&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;link link-swipe link-warning&quot;&gt;Link swipe warning&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;link link-swipe link-info&quot;&gt;Link swipe info&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;link link-swipe link-light&quot;&gt;Link swipe light&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;link link-swipe link-dark&quot;&gt;Link swipe dark&lt;/a&gt;
</code></pre>
        </div>
    </div>
    <!--/Snippet-->

    <div class="mb-5">
        <h5>Link right</h5>
        <p><a href="#" class="link link-right link-primary">Link right primary</a></p>
        <p><a href="#" class="link link-right link-secondary">Link right secondary</a></p>
        <p><a href="#" class="link link-right link-success">Link right success</a></p>
        <p><a href="#" class="link link-right link-danger">Link right danger</a></p>
        <p><a href="#" class="link link-right link-warning">Link right warning</a></p>
        <p><a href="#" class="link link-right link-info">Link right info</a></p>
        <p><span class="bg-dark p-2"><a href="#" class="link link-right link-light">Link right light</a></span></p>
        <p><a href="#" class="link link-right link-dark">Link right dark</a></p>
    </div>

    <!--Snippet-->
    <div class="snippet">
        <span class="pre-label">Code</span>
        <div class="snippet-box show">
            <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;a href=&quot;#&quot; class=&quot;link link-right link-primary&quot;&gt;Link right primary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;link link-right link-secondary&quot;&gt;Link right secondary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;link link-right link-success&quot;&gt;Link right success&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;link link-right link-danger&quot;&gt;Link right danger&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;link link-right link-warning&quot;&gt;Link right warning&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;link link-right link-info&quot;&gt;Link right info&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;link link-right link-light&quot;&gt;Link right light&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;link link-right link-dark&quot;&gt;Link right dark&lt;/a&gt;
</code></pre>
        </div>
    </div>
    <!--/Snippet-->

    <div class="mb-5">
        <h5>Link underline</h5>
        <p><a href="#" class="link link-underline link-primary">Link underline primary</a></p>
        <p><a href="#" class="link link-underline link-secondary">Link underline secondary</a></p>
        <p><a href="#" class="link link-underline link-success">Link underline success</a></p>
        <p><a href="#" class="link link-underline link-danger">Link underline danger</a></p>
        <p><a href="#" class="link link-underline link-warning">Link underline warning</a></p>
        <p><a href="#" class="link link-underline link-info">Link underline info</a></p>
        <p><span class="bg-dark p-2"><a href="#" class="link link-underline link-light">Link underline light</a></span></p>
        <p><a href="#" class="link link-underline link-dark">Link underline dark</a></p>
    </div>
    <!--Snippet-->
    <div class="snippet">
        <span class="pre-label">Code</span>
        <div class="snippet-box show">
            <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;a href=&quot;#&quot; class=&quot;link link-underline link-primary&quot;&gt;Link underline primary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;link link-underline link-secondary&quot;&gt;Link underline secondary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;link link-underline link-success&quot;&gt;Link underline success&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;link link-underline link-danger&quot;&gt;Link underline danger&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;link link-underline link-warning&quot;&gt;Link underline warning&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;link link-underline link-info&quot;&gt;Link underline info&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;link link-underline link-light&quot;&gt;Link underline light&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;link link-underline link-dark&quot;&gt;Link underline dark&lt;/a&gt;
</code></pre>
        </div>
    </div>
    <!--/Snippet-->
</figure>
