<header>
    <h2 class="display-4 mb-4">Colors</h2>
    <p>Theme colors are predefined and it can be combined with any element.</p>
</header>

<figure>
    <figcaption>Background colors</figcaption>
    <p>Similar to the contextual text color classes, easily set the background of an element to any contextual class. Anchor components will darken on hover, just like the text classes. Background utilities do not set color, so in some cases you’ll want to use .text-* utilities.</p>
    <div>
        <div class="d-none">
            <div class="p-3 mb-2 bg-primary text-white">.bg-primary</div>
            <div class="p-3 mb-2 bg-light-primary text-white">.bg-light-primary</div>
            <div class="p-3 mb-2 bg-secondary text-white">.bg-secondary</div>
            <div class="p-3 mb-2 bg-success text-white">.bg-success</div>
            <div class="p-3 mb-2 bg-danger text-white">.bg-danger</div>
            <div class="p-3 mb-2 bg-warning text-dark">.bg-warning</div>
            <div class="p-3 mb-2 bg-info text-white">.bg-info</div>
            <div class="p-3 mb-2 bg-light text-dark">.bg-light</div>
            <div class="p-3 mb-2 bg-dark text-white">.bg-dark</div>
            <div class="p-3 mb-2 bg-white text-dark">.bg-white</div>
            <div class="p-3 mb-2 bg-transparent text-dark">.bg-transparent</div>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="box box-image bg-primary text-white">
                    <div class="box-content px-1 text-center">
                        <small>.bg-primary</small>
                    </div>
                </div>
                <div class="box box-image bg-light-primary text-white">
                    <div class="box-content px-1 text-center">
                        <small>.bg-light-primary</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="box box-image bg-secondary text-white">
                    <div class="box-content px-1 text-center">
                        <small>.bg-secondary</small>
                    </div>
                </div>
                <div class="box box-image bg-light-secondary text-white">
                    <div class="box-content px-1 text-center">
                        <small>.bg-light-secondary</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="box box-image bg-success text-white">
                    <div class="box-content px-1 text-center">
                        <small>.bg-success</small>
                    </div>
                </div>
                <div class="box box-image bg-light-success text-white">
                    <div class="box-content px-1 text-center">
                        <small>.bg-light-success</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="box box-image bg-danger text-white">
                    <div class="box-content px-1 text-center">
                        <small>.bg-danger</small>
                    </div>
                </div>
                <div class="box box-image bg-light-danger text-white">
                    <div class="box-content px-1 text-center">
                        <small>.bg-light-danger</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="box box-image bg-warning text-white">
                    <div class="box-content px-1 text-center">
                        <small>.bg-warning</small>
                    </div>
                </div>
                <div class="box box-image bg-light-warning text-white">
                    <div class="box-content px-1 text-center">
                        <small>.bg-light-warning</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="box box-image bg-info text-white">
                    <div class="box-content px-1 text-center">
                        <small>.bg-info</small>
                    </div>
                </div>
                <div class="box box-image bg-light-info text-white">
                    <div class="box-content px-1 text-center">
                        <small>.bg-light-info</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="box box-image bg-dark text-white">
                    <div class="box-content px-1 text-center">
                        <small>.bg-dark</small>
                    </div>
                </div>
                <div class="box box-image bg-light-dark text-white">
                    <div class="box-content px-1 text-center">
                        <small>.bg-light-dark</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="p-1" style="background-color:#d8d8d8">
                    <div class="box box-image bg-light text-dark">
                        <div class="box-content px-1 text-center">
                            <small>.bg-light</small>
                        </div>
                    </div>
                    <div class="box box-image bg-light-light text-dark">
                        <div class="box-content px-1 text-center">
                            <small>.bg-light-light</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="box box-image bg-white text-dark">
                    <div class="box-content px-1 text-center">
                        <small>.bg-white</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;box box-image bg-primary text-white&quot;&gt;
    &lt;div class=&quot;box-content px-1 text-center&quot;&gt;
        &lt;small&gt;.bg-primary&lt;/small&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Grays</figcaption>
    <p>An expansive set of gray variables and a <code>SCSS</code> map in scss/_variables.scss for consistent shades of gray across your project. Note that these are “cool grays”, which tend towards a subtle blue tone, rather than neutral grays.</p>
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="box box-image bg-100">
                <div class="box-content px-1 text-center">
                    <small>.bg-100</small>
                </div>
            </div>
            <div class="box box-image bg-200">
                <div class="box-content px-1 text-center">
                    <small>.bg-200</small>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="box box-image bg-300">
                <div class="box-content px-1 text-center">
                    <small>.bg-300</small>
                </div>
            </div>
            <div class="box box-image bg-400">
                <div class="box-content px-1 text-center">
                    <small>.bg-400</small>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="box box-image bg-500">
                <div class="box-content px-1 text-center">
                    <small>.bg-500</small>
                </div>
            </div>
            <div class="box box-image bg-600">
                <div class="box-content px-1 text-center">
                    <small>.bg-600</small>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="box box-image bg-700">
                <div class="box-content px-1 text-center">
                    <small>.bg-700</small>
                </div>
            </div>
            <div class="box box-image bg-800">
                <div class="box-content px-1 text-center">
                    <small>.bg-800</small>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="box box-image bg-900">
                <div class="box-content px-1 text-center">
                    <small>.bg-900</small>
                </div>
            </div>
        </div>
    </div>
</figure>

<figure>
    <figcaption>All colors</figcaption>
    <p>
        All colors available in Bootstrap 4, are available as <code>SCSS</code> variables and a scss
        map in scss/_variables.scss file. This will be expanded upon in subsequent minor releases to
        add additional shades, much like the grayscale palette we already include.
    </p>
    <div class="row">
        <div class="col-md-4">
            <div class="p-3 mb-3 bg-blue">.bg-blue</div>
        </div>
        <div class="col-md-4">
            <div class="p-3 mb-3 bg-indigo">.bg-indigo</div>
        </div>
        <div class="col-md-4">
            <div class="p-3 mb-3 bg-purple">.bg-purple</div>
        </div>
        <div class="col-md-4">
            <div class="p-3 mb-3 bg-pink">.bg-pink</div>
        </div>
        <div class="col-md-4">
            <div class="p-3 mb-3 bg-red">.bg-red</div>
        </div>
        <div class="col-md-4">
            <div class="p-3 mb-3 bg-orange">.bg-orange</div>
        </div>
        <div class="col-md-4">
            <div class="p-3 mb-3 bg-yellow">.bg-yellow</div>
        </div>
        <div class="col-md-4">
            <div class="p-3 mb-3 bg-green">.bg-green</div>
        </div>
        <div class="col-md-4">
            <div class="p-3 mb-3 bg-teal">.bg-teal</div>
        </div>
        <div class="col-md-4">
            <div class="p-3 mb-3 bg-cyan">.bg-cyan</div>
        </div>
    </div>
</figure>

<figure>
    <figcaption>Text colors</figcaption>

    <div class="mb-4">
        <span class="text-primary">.text-primary</span> &nbsp;
        <span class="text-secondary">.text-secondary</span> &nbsp;
        <span class="text-success">.text-success</span> &nbsp;
        <span class="text-danger">.text-danger</span> &nbsp;
        <span class="text-warning">.text-warning</span> &nbsp;
        <span class="text-info">.text-info</span> &nbsp;
        <span class="text-dark">.text-dark</span> &nbsp;
        <span>.paragprah</span> &nbsp;
        <hr>
        <span class="text-muted">.text-muted</span> &nbsp;
        <span class="text-light bg-dark">.text-light</span> &nbsp;
        <span class="text-white bg-dark">.text-white</span> &nbsp;
        <span class="text-black-50 bg-white">.text-black-50</span> &nbsp;
        <span class="text-white-50 bg-dark">.text-white-50</span> &nbsp;
    </div>

    <!--Snippet-->
    <div class="snippet">
        <span class="pre-label">Code</span>
        <div class="snippet-box show">
            <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;p class=&quot;text-primary&quot;&gt;.text-primary&lt;/p&gt;
&lt;p class=&quot;text-secondary&quot;&gt;.text-secondary&lt;/p&gt;
&lt;p class=&quot;text-success&quot;&gt;.text-success&lt;/p&gt;
&lt;p class=&quot;text-danger&quot;&gt;.text-danger&lt;/p&gt;
&lt;p class=&quot;text-warning&quot;&gt;.text-warning&lt;/p&gt;
&lt;p class=&quot;text-info&quot;&gt;.text-info&lt;/p&gt;
&lt;p class=&quot;text-dark&quot;&gt;.text-dark&lt;/p&gt;
&lt;p&gt;.paragprah&lt;/p&gt;
&lt;p class=&quot;text-muted&quot;&gt;.text-muted&lt;/p&gt;
&lt;p class=&quot;text-light bg-dark&quot;&gt;.text-light&lt;/p&gt;
&lt;p class=&quot;text-white bg-dark&quot;&gt;.text-white&lt;/p&gt;
&lt;p class=&quot;text-black-50 bg-white&quot;&gt;.text-black-50&lt;/p&gt;
&lt;p class=&quot;text-white-50 bg-dark&quot;&gt;.text-white-50&lt;/p&gt;
</code></pre>
        </div>
    </div>
    <!--/Snippet-->
</figure>
