<header>
    <h2 class="display-4 mb-4">Credits</h2>
    <p>Frameworks and library</p>
</header>

<figure>
    <figcaption>jQuery plugins</figcaption>
    <ul>
        <li>Bootstrap</li>
        <li>jQuery</li>
        <li>Isotope</li>
        <li>InVew</li>
        <li>Lavalamp</li>
        <li>Owl Carousel</li>
        <li>Rellax</li>
        <li>Tabzy</li>
        <li>Wow</li>
    </ul>
</figure>

<figure>
    <figcaption>Css Framework</figcaption>
    <ul>
        <li>Bootstrap</li>
        <li>Animate</li>
        <li>Font Awsome</li>
        <li>Linear Icons</li>
    </ul>
</figure>

<figure>
    <figcaption>Images</figcaption>

    <ul>
        <li>Unsplash</li>
        <li>Pexels</li>
        <li>Pixabay</li>
        <li>Morguefile</li>
    </ul>
</figure>
