<header>
    <h2 class="display-4 mb-4">Dividers</h2>
    <p>Dividers are decorative elements for styling and it uses SVG's with predefined color classes.</p>
</header>

<figure>
    <figcaption>SVG divider colors</figcaption>
    <p>Wrap your element with <code>.divider</code> class. Mandatory <code>.svg</code> class will apply default properties, and it can be combined with predefined colors. </p>
    <div class="divider">
        <div class="clearfix">
            <div class="row">
                <div class="col-6 col-lg-2 mb-2">
                    <svg class="svg svg-primary" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="50" viewBox="0 0 100 50">
                        <rect width="100" height="50" />
                    </svg>
                    <code>.svg-primary</code>
                </div>
                <div class="col-6 col-lg-2 mb-2">
                    <svg class="svg svg-secondary" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="50" viewBox="0 0 100 50">
                        <rect width="100" height="50" />
                    </svg>
                    <code>.svg-secondary</code>
                </div>
                <div class="col-6 col-lg-2 mb-2">
                    <svg class="svg svg-success" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="50" viewBox="0 0 100 50">
                        <rect width="100" height="50" />
                    </svg>
                    <code>.svg-success</code>
                </div>
                <div class="col-6 col-lg-2 mb-2">
                    <svg class="svg svg-danger" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="50" viewBox="0 0 100 50">
                        <rect width="100" height="50" />
                    </svg>
                    <code>.svg-danger</code>
                </div>
                <div class="col-6 col-lg-2 mb-2">
                    <svg class="svg svg-warning" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="50" viewBox="0 0 100 50">
                        <rect width="100" height="50" />
                    </svg>
                    <code>.svg-warning</code>
                </div>
                <div class="col-6 col-lg-2 mb-2">
                    <svg class="svg svg-info" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="50" viewBox="0 0 100 50">
                        <rect width="100" height="50" />
                    </svg>
                    <code>.svg-info</code>
                </div>
                <div class="col-6 col-lg-2 mb-2">
                    <svg class="svg svg-light" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="50" viewBox="0 0 100 50">
                        <rect width="100" height="50" />
                    </svg>
                    <code>.svg-light</code>
                </div>
                <div class="col-6 col-lg-2 mb-2">
                    <svg class="svg svg-white" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="50" viewBox="0 0 100 50">
                        <rect width="100" height="50" />
                    </svg>
                    <code>.svg-white</code>
                </div>
                <div class="col-6 col-lg-2 mb-2">
                    <svg class="svg svg-dark" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="50" viewBox="0 0 100 50">
                        <rect width="100" height="50" />
                    </svg>
                    <code>.svg-dark</code>
                </div>
            </div>
        </div>
    </div>

</figure>

<figure>
    <figcaption>Divider flat</figcaption>
    <div class="divider bg-primary">
        <div class="container pt-5 text-white">
            <h2>Flat</h2>
        </div>
        <svg class="svg svg-light" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1920" height="100" viewBox="0 0 1920 100" preserveAspectRatio="none meet">
            <path d="M0,73.808,1920,0V101H0Z" />
        </svg>
    </div>

    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;divider bg-primary&quot;&gt;
    &lt;svg class=&quot;svg svg-light&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; width=&quot;1920&quot; height=&quot;100&quot; viewBox=&quot;0 0 1920 100&quot; preserveAspectRatio=&quot;none meet&quot;&gt;
        &lt;path d=&quot;M0,73.808,1920,0V101H0Z&quot; /&gt;
    &lt;/svg&gt;
&lt;/div&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->

</figure>


<figure>
    <figcaption>Divider mountain</figcaption>
    <div class="divider bg-primary">
        <div class="container pt-5 text-white">
            <h2>Mountain</h2>
        </div>
        <svg class="svg svg-light" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1920" height="100" viewBox="0 0 1920 100" preserveAspectRatio="none meet">
            <path d="M0,30.074,353.848,54.829l500.921-37.86,307.251,43.685,285.408-43.685L1747.4,78.127,1920,40.267V101H0Z" />
        </svg>
    </div>

    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;divider bg-primary&quot;&gt;
    &lt;svg class=&quot;svg svg-light&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; width=&quot;1920&quot; height=&quot;100&quot; viewBox=&quot;0 0 1920 100&quot; preserveAspectRatio=&quot;none meet&quot;&gt;
        &lt;path d=&quot;M0,30.074,353.848,54.829l500.921-37.86,307.251,43.685,285.408-43.685L1747.4,78.127,1920,40.267V101H0Z&quot; /&gt;
    &lt;/svg&gt;
&lt;/div&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->

</figure>


<figure>
    <figcaption>Divider wave</figcaption>
    <div class="divider bg-primary">
        <div class="container pt-5 text-white">
            <h2>Wave</h2>
        </div>
        <svg class="svg svg-light" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1920" height="100" viewBox="0 0 1920 100" preserveAspectRatio="none meet">
            <path d="M0,59.148s294.145-64.071,963.981,0,963.981-26.211,963.981-26.211L1920,101H0Z" />
        </svg>
    </div>

    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;divider bg-primary&quot;&gt;
    &lt;svg class=&quot;svg svg-light&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; width=&quot;1920&quot; height=&quot;100&quot; viewBox=&quot;0 0 1920 100&quot; preserveAspectRatio=&quot;none meet&quot;&gt;
        &lt;path d=&quot;M0,59.148s294.145-64.071,963.981,0,963.981-26.211,963.981-26.211L1920,101H0Z&quot; /&gt;
    &lt;/svg&gt;
&lt;/div&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->

</figure>

<figure>
    <figcaption>Waves</figcaption>
    <div class="divider bg-primary">
        <div class="container pt-5 text-white">
            <h2>Divider waves</h2>
        </div>
        <svg class="svg svg-light" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1920" height="100" viewBox="0 0 1920 100" preserveAspectRatio="none meet">
            <path d="M0,44.586s231.53-59.752,496.552,11.6c315.988,62.615,560.623-39.316,830.014,0C1601.781,115.889,1920,34.344,1920,34.344V101H0Z" />
        </svg>
    </div>

    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;divider bg-primary&quot;&gt;
    &lt;svg class=&quot;svg svg-light&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; width=&quot;1920&quot; height=&quot;100&quot; viewBox=&quot;0 0 1920 100&quot; preserveAspectRatio=&quot;none meet&quot;&gt;
        &lt;path d=&quot;M0,44.586s231.53-59.752,496.552,11.6c315.988,62.615,560.623-39.316,830.014,0C1601.781,115.889,1920,34.344,1920,34.344V101H0Z&quot; /&gt;
    &lt;/svg&gt;
&lt;/div&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->

</figure>

<figure>
    <figcaption>Fancy</figcaption>
    <div class="divider bg-primary">
        <div class="container pt-5 text-white">
            <h2>Divider fancy</h2>
        </div>
        <svg class="svg svg-light" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1920" height="100" viewBox="0 0 1920 100" preserveAspectRatio="none meet">
            <path d="M0,11S168.915,69.242,406.27,70.7,685.853,57.593,850.4,37.207,1259.752,73.448,1517.323,70.7,1920,19.667,1920,19.667V101H0Z" transform="translate(0 -1)" />
            <path d="M1920,102.048s-89.6,137.879-398.308,19.053c-162.379-62.5-391.708,20.855-598.484,20.855-206.775,22.449-295.6-77.886-503.833-39.909C286.864,132.511,0,110.668,0,110.668v62.337H1920Z" transform="translate(0 -73.005)" fill-opacity=".2" />
            <path d="M0,102.147S407.045,189.7,555.574,121.265C717.953,58.549,760.893,69.884,840.982,85.957c188.351,79.39,348.351-56.61,532.351,70.057C1489,91.538,1920,110.8,1920,110.8v62.551H0Z" transform="translate(0 -73.347)" fill-opacity=".4" />
        </svg>
    </div>
    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;divider bg-primary&quot;&gt;
    &lt;svg class=&quot;svg svg-light&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; width=&quot;1920&quot; height=&quot;100&quot; viewBox=&quot;0 0 1920 100&quot; preserveAspectRatio=&quot;none meet&quot;&gt;
        &lt;path d=&quot;M0,11S168.915,69.242,406.27,70.7,685.853,57.593,850.4,37.207,1259.752,73.448,1517.323,70.7,1920,19.667,1920,19.667V101H0Z&quot; transform=&quot;translate(0 -1)&quot; /&gt;
        &lt;path d=&quot;M1920,102.048s-89.6,137.879-398.308,19.053c-162.379-62.5-391.708,20.855-598.484,20.855-206.775,22.449-295.6-77.886-503.833-39.909C286.864,132.511,0,110.668,0,110.668v62.337H1920Z&quot; transform=&quot;translate(0 -73.005)&quot; fill-opacity=&quot;.2&quot; /&gt;
        &lt;path d=&quot;M0,102.147S407.045,189.7,555.574,121.265C717.953,58.549,760.893,69.884,840.982,85.957c188.351,79.39,348.351-56.61,532.351,70.057C1489,91.538,1920,110.8,1920,110.8v62.551H0Z&quot; transform=&quot;translate(0 -73.347)&quot; fill-opacity=&quot;.4&quot; /&gt;
    &lt;/svg&gt;
&lt;/div&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Color examples</figcaption>
    <p>With template <b><a href="#colors">colors</a></b>, you can decorate devider and content for specific cases</p>
    <div class="mb-5">
        <div class="divider bg-info">
            <div class="container pt-5 text-white">
                <h5>Divider class .bg-success</h5>
                <p>If next element have <strong>.bg-dark</strong> SVG will have <strong>.svg-dark</strong></p>
            </div>
            <svg class="svg svg-dark" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1920" height="100" viewBox="0 0 1920 100" preserveAspectRatio="none meet">
                <path d="M0,73.808,1920,0V101H0Z" />
            </svg>
        </div>
        <section class="bg-dark p-4">
            <div class="container text-white">
                <p><strong>.bg-dark</strong></p>
            </div>
        </section>
    </div>
    <div class="mb-5">
        <div class="divider bg-danger">
            <div class="container pt-5 text-white">
                <h5>Divider class .bg-danger</h5>
                <p>If next element have <strong>.bg-white</strong> SVG will have <strong>.svg-white</strong></p>
            </div>
            <svg class="svg svg-white" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1920" height="100" viewBox="0 0 1920 100" preserveAspectRatio="none meet">
                <path d="M0,73.808,1920,0V101H0Z" />
            </svg>
        </div>
        <section class="bg-white p-4">
            <div class="container">
                <p><strong>.bg-white</strong></p>
            </div>
        </section>
    </div>
</figure>
