<header>
    <h2 class="display-4 mb-4">Figures</h2>
    <p>Documentation and examples for displaying related images and text with the figure component in Reveal.</p>
</header>

<figure>
    <figcaption>Image preview</figcaption>
    <div class="col-item">
        <figure class="figure">
            <img src="{{docs.img}}placeholder.jpg" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
    </div>
    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;figure class=&quot;figure&quot;&gt;
    &lt;img src=&quot;images/placeholder.jpg&quot; class=&quot;figure-img img-fluid rounded&quot; alt=&quot;...&quot;&gt;
    &lt;figcaption class=&quot;figure-caption&quot;&gt;A caption for the above image.&lt;/figcaption&gt;
&lt;/figure&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Image zoom</figcaption>
    <p>Use following code structure to achieve zoom effect.</p>
    <div class="col-item">
        <figure class="figure figure-zoom">
            <div class="figure-img-wrapper">
                <img src="{{docs.img}}placeholder.jpg" class="figure-img img-fluid" alt="...">
            </div>
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
    </div>
    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;figure class=&quot;figure figure-zoom&quot;&gt;
    &lt;div class=&quot;figure-img-wrapper&quot;&gt;
        &lt;img src=&quot;images/placeholder.jpg&quot; class=&quot;figure-img img-fluid&quot; alt=&quot;...&quot;&gt;
    &lt;/div&gt;
    &lt;figcaption class=&quot;figure-caption&quot;&gt;A caption for the above image.&lt;/figcaption&gt;
&lt;/figure&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>
