<header>
    <h2 class="display-4 mb-4">Forms</h2>
    <p>Examples and usage guidelines for form control styles, layout options, and custom components for creating a wide variety of forms.</p>
</header>

<figure>
    <figcaption>Simple form overview</figcaption>
    <p>Here’s a quick example to demonstrate Reveal’s form styles. Keep reading for documentation on required classes, form layout, and more.</p>
    <div class="col-item">
        <form>
            <div class="form-group">
                <label class="label" for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control form-control-simple" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label class="label" for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control form-control-simple" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                    <input type="checkbox" class="custom-control-input" id="customExampleCheck" checked>
                    <label class="custom-control-label" for="customExampleCheck">Check me out</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;form&gt;
    &lt;div class=&quot;form-group&quot;&gt;
        &lt;label class=&quot;label&quot; for=&quot;exampleInputEmail1&quot;&gt;Email address&lt;/label&gt;
        &lt;input type=&quot;email&quot; class=&quot;form-control form-control-simple&quot; id=&quot;exampleInputEmail1&quot; aria-describedby=&quot;emailHelp&quot;&gt;
        &lt;small id=&quot;emailHelp&quot; class=&quot;form-text text-muted&quot;&gt;We&#39;ll never share your email with anyone else.&lt;/small&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-group&quot;&gt;
        &lt;label class=&quot;label&quot; for=&quot;exampleInputPassword1&quot;&gt;Password&lt;/label&gt;
        &lt;input type=&quot;password&quot; class=&quot;form-control form-control-simple&quot; id=&quot;exampleInputPassword1&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-group&quot;&gt;
        &lt;div class=&quot;custom-control custom-checkbox custom-checkbox-primary mb-3&quot;&gt;
            &lt;input type=&quot;checkbox&quot; class=&quot;custom-control-input&quot; id=&quot;customExampleCheck&quot; checked&gt;
            &lt;label class=&quot;custom-control-label&quot; for=&quot;customExampleCheck&quot;&gt;Check me out&lt;/label&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;button type=&quot;submit&quot; class=&quot;btn btn-primary&quot;&gt;Submit&lt;/button&gt;
&lt;/form&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Sizing</figcaption>
    <p>Set heights using classes like <code>.form-control-lg</code> and <code>.form-control-sm</code>.</p>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group"><input class="form-control form-control-lg" type="text" placeholder=".form-control-lg"></div>
            <div class="form-group"><input class="form-control" type="text" placeholder="Default input"></div>
            <div class="form-group"><input class="form-control form-control-sm" type="text" placeholder=".form-control-sm"></div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <select class="form-control form-control-lg">
                    <option>Large select</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control">
                    <option>Default select</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control form-control-sm">
                    <option>Small select</option>
                </select>
            </div>
        </div>
    </div>
    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;form&gt;
    &lt;div class=&quot;form-group&quot;&gt;
        &lt;label class=&quot;label&quot; for=&quot;exampleInputEmail1&quot;&gt;Email address&lt;/label&gt;
        &lt;input type=&quot;email&quot; class=&quot;form-control&quot; id=&quot;exampleInputEmail1&quot; aria-describedby=&quot;emailHelp&quot;&gt;
        &lt;small id=&quot;emailHelp&quot; class=&quot;form-text text-muted&quot;&gt;We&#39;ll never share your email with anyone else.&lt;/small&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-group&quot;&gt;
        &lt;label class=&quot;label&quot; for=&quot;exampleInputPassword1&quot;&gt;Password&lt;/label&gt;
        &lt;input type=&quot;password&quot; class=&quot;form-control&quot; id=&quot;exampleInputPassword1&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-group&quot;&gt;
        &lt;div class=&quot;custom-control custom-checkbox custom-checkbox-primary mb-3&quot;&gt;
            &lt;input type=&quot;checkbox&quot; class=&quot;custom-control-input&quot; id=&quot;customExampleCheck&quot; checked&gt;
            &lt;label class=&quot;custom-control-label&quot; for=&quot;customExampleCheck&quot;&gt;Check me out&lt;/label&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;button type=&quot;submit&quot; class=&quot;btn btn-primary&quot;&gt;Submit&lt;/button&gt;
&lt;/form&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Theming</figcaption>
    <p>
        Theming changes are controlled throught extended classes.
    </p>
    <div class="row">
        <div class="col-3">
            <h6>Simple</h6>
            <div class="form-group">
                <input class="form-control form-control-simple" type="text" placeholder=".form-control-simple">
            </div>
            <div class="form-group">
                <input class="form-control form-control-simple" type="text" placeholder=".form-control-simple">
            </div>
            <div class="form-group">
                <input class="form-control form-control-simple" type="text" placeholder=".form-control-simple">
            </div>
        </div>
        <div class="col-3">
            <h6>Filled large</h6>
            <div class="form-group">
                <input class="form-control form-control-fill" type="text" placeholder=".form-control-fill">
            </div>
            <div class="form-group">
                <input class="form-control form-control-fill" type="text" placeholder=".form-control-fill">
            </div>
            <div class="form-group">
                <input class="form-control form-control-fill" type="text" placeholder=".form-control-fill">
            </div>
        </div>
        <div class="col-3">
            <h6>Flatten <small>no radius</small> </h6>
            <div class="form-group">
                <input class="form-control form-control-flat" type="text" placeholder=".form-control-flat">
            </div>
            <div class="form-group">
                <input class="form-control form-control-flat" type="text" placeholder=".form-control-flat">
            </div>
            <div class="form-group">
                <input class="form-control form-control-flat" type="text" placeholder=".form-control-flat">
            </div>
        </div>
        <div class="col-3">
            <h6>Defaults</h6>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Default input">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Default input">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Default input">
            </div>
        </div>
    </div>
</figure>

<figure>
    <figcaption>Server side</figcaption>

    <form>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationServer01">First name</label>
                <input type="text" class="form-control is-valid" id="validationServer01" value="Mark" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationServer02">Last name</label>
                <input type="text" class="form-control is-valid" id="validationServer02" value="Otto" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationServerUsername">Username</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend3">@</span>
                    </div>
                    <input type="text" class="form-control is-invalid" id="validationServerUsername" aria-describedby="inputGroupPrepend3" required>
                    <div class="invalid-feedback">
                        Please choose a username.
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationServer03">City</label>
                <input type="text" class="form-control is-invalid" id="validationServer03" required>
                <div class="invalid-feedback">
                    Please provide a valid city.
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationServer04">State</label>
                <select class="custom-select is-invalid" id="validationServer04" required>
                    <option selected disabled value="">Choose...</option>
                    <option>...</option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid state.
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationServer05">Zip</label>
                <input type="text" class="form-control is-invalid" id="validationServer05" required>
                <div class="invalid-feedback">
                    Please provide a valid zip.
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
                <label class="form-check-label" for="invalidCheck3">
                    Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                    You must agree before submitting.
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
    </form>

</figure>

<figure>
    <figcaption>Checkbox</figcaption>
    <p class="mb-4">Each checkbox and radio <code>input</code> and <code>label</code> pairing is wrapped in a <code>div</code> to create our custom control. Structurally, this is the same approach as our default .form-check.</p>

    <div class="row">
        <div class="col-md-6">
            <h5>Checkbox</h5>
            <div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Check this custom checkbox red</label>
            </div>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck2" checked>
                <label class="custom-control-label" for="customCheck2">Checked custom checkbox</label>
            </div>
        </div>
        <div class="col-md-6">
            <h5>Checkbox buttons</h5>

            <span class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-primary active">
                    <input type="checkbox" checked> S
                </label>
            </span>

            <span class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-primary active">
                    <input type="checkbox"> M
                </label>
            </span>

            <span class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-primary active">
                    <input type="checkbox"> L
                </label>
            </span>

            <span class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-primary active">
                    <input type="checkbox"> XL
                </label>
            </span>

        </div>
    </div>

    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;!--Checkbox--&gt;
&lt;div class=&quot;custom-control custom-checkbox&quot;&gt;
    &lt;input type=&quot;checkbox&quot; class=&quot;custom-control-input&quot; id=&quot;customCheck1&quot;&gt;
    &lt;label class=&quot;custom-control-label&quot; for=&quot;customCheck1&quot;&gt;Checkbox&lt;/label&gt;
&lt;/div&gt;

&lt;!--Checkbox buttons--&gt;
&lt;span class=&quot;btn-group-toggle&quot; data-toggle=&quot;buttons&quot;&gt;
    &lt;label class=&quot;btn btn-outline-primary active&quot;&gt;
        &lt;input type=&quot;checkbox&quot; checked&gt; S
    &lt;/label&gt;
&lt;/span&gt;

&lt;span class=&quot;btn-group-toggle&quot; data-toggle=&quot;buttons&quot;&gt;
    &lt;label class=&quot;btn btn-outline-primary active&quot;&gt;
        &lt;input type=&quot;checkbox&quot;&gt; M
    &lt;/label&gt;
&lt;/span&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Radio group</figcaption>

    <div class="row">
        <div class="col-md-6">
            <h5>Radio button</h5>
            <div class="custom-control custom-radio mb-3">
                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
            </div>
        </div>
        <div class="col-md-6">
            <h5>Radio button group</h5>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-secondary active">
                    <input type="radio" name="options" id="radio-option1" checked> Active
                </label>
                <label class="btn btn-outline-secondary">
                    <input type="radio" name="options" id="radio-option2"> Radio
                </label>
                <label class="btn btn-outline-secondary">
                    <input type="radio" name="options" id="radio-option3"> Radio
                </label>
            </div>
        </div>
    </div>

    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;custom-control custom-radio mb-3&quot;&gt;
    &lt;input type=&quot;radio&quot; id=&quot;customRadio1&quot; name=&quot;customRadio&quot; class=&quot;custom-control-input&quot;&gt;
    &lt;label class=&quot;custom-control-label&quot; for=&quot;customRadio1&quot;&gt;Toggle this custom radio&lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;custom-control custom-radio&quot;&gt;
    &lt;input type=&quot;radio&quot; id=&quot;customRadio2&quot; name=&quot;customRadio&quot; class=&quot;custom-control-input&quot;&gt;
    &lt;label class=&quot;custom-control-label&quot; for=&quot;customRadio2&quot;&gt;Or toggle this other custom radio&lt;/label&gt;
&lt;/div&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Switches</figcaption>

    <div class="custom-control custom-switch mb-3">
        <input type="checkbox" class="custom-control-input" id="customSwitch1">
        <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
    </div>
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" disabled id="customSwitch2">
        <label class="custom-control-label" for="customSwitch2">Disabled switch element</label>
    </div>

    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;custom-control custom-switch&quot;&gt;
    &lt;input type=&quot;checkbox&quot; class=&quot;custom-control-input&quot; id=&quot;customSwitch1&quot;&gt;
    &lt;label class=&quot;custom-control-label&quot; for=&quot;customSwitch1&quot;&gt;Toggle this switch element&lt;/label&gt;
&lt;/div&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Color variations</figcaption>
    <p>Custom checkbox and radio buttons are also adjustable. Use following color class to adjust the preview.</p>
    <div class="row">
        <div class="col-lg-4">
            <h5 class="mb-4">Checkbox colors</h5>
            <div class="custom-control custom-checkbox custom-control-primary mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheckTheme1" checked>
                <label class="custom-control-label" for="customCheckTheme1">.custom-control-primary</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-secondary mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheckTheme2" checked>
                <label class="custom-control-label" for="customCheckTheme2">.custom-control-secondary</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-success mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheckTheme3" checked>
                <label class="custom-control-label" for="customCheckTheme3">.custom-control-success</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-danger mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheckTheme4" checked>
                <label class="custom-control-label" for="customCheckTheme4">.custom-control-danger</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-warning mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheckTheme5" checked>
                <label class="custom-control-label" for="customCheckTheme5">.custom-control-warning</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-info mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheckTheme6" checked>
                <label class="custom-control-label" for="customCheckTheme6">.custom-control-info</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-dark mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheckTheme7" checked>
                <label class="custom-control-label" for="customCheckTheme7">.custom-control-dark</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-light mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheckTheme8" checked>
                <label class="custom-control-label" for="customCheckTheme8">.custom-control-light</label>
            </div>
        </div>
        <div class="col-lg-4">
            <h5 class="mb-4">Radio group colors</h5>

            <div class="custom-control custom-radio custom-control-primary mb-3">
                <input type="radio" id="customRadioTheme1" name="customRadioTheme" class="custom-control-input" checked>
                <label class="custom-control-label" for="customRadioTheme1">.custom-control-primary</label>
            </div>

            <div class="custom-control custom-radio custom-control-secondary mb-3">
                <input type="radio" id="customRadioTheme2" name="customRadioTheme" class="custom-control-input" checked>
                <label class="custom-control-label" for="customRadioTheme2">.custom-control-secondary</label>
            </div>

            <div class="custom-control custom-radio custom-control-success mb-3">
                <input type="radio" id="customRadioTheme3" name="customRadioTheme" class="custom-control-input" checked>
                <label class="custom-control-label" for="customRadioTheme3">.custom-control-success</label>
            </div>

            <div class="custom-control custom-radio custom-control-danger mb-3">
                <input type="radio" id="customRadioTheme4" name="customRadioTheme" class="custom-control-input" checked>
                <label class="custom-control-label" for="customRadioTheme4">.custom-control-danger</label>
            </div>

            <div class="custom-control custom-radio custom-control-warning mb-3">
                <input type="radio" id="customRadioTheme5" name="customRadioTheme" class="custom-control-input" checked>
                <label class="custom-control-label" for="customRadioTheme5">.custom-control-warning</label>
            </div>

            <div class="custom-control custom-radio custom-control-info mb-3">
                <input type="radio" id="customRadioTheme6" name="customRadioTheme" class="custom-control-input" checked>
                <label class="custom-control-label" for="customRadioTheme6">.custom-control-info</label>
            </div>

            <div class="custom-control custom-radio custom-control-dark mb-3">
                <input type="radio" id="customRadioTheme7" name="customRadioTheme" class="custom-control-input" checked>
                <label class="custom-control-label" for="customRadioTheme7">.custom-control-dark</label>
            </div>

            <div class="custom-control custom-radio custom-control-light mb-3">
                <input type="radio" id="customRadioTheme8" name="customRadioTheme" class="custom-control-input" checked>
                <label class="custom-control-label" for="customRadioTheme8">.custom-control-light</label>
            </div>
        </div>

        <div class="col-lg-4">
            <h5 class="mb-4">Swithces colors</h5>

            <div class="custom-control custom-control-primary custom-switch mb-3">
                <input type="checkbox" class="custom-control-input" id="customSwitchTheme1">
                <label class="custom-control-label" for="customSwitchTheme1">.custom-control-primary</label>
            </div>

            <div class="custom-control custom-control-secondary custom-switch mb-3">
                <input type="checkbox" class="custom-control-input" id="customSwitchTheme2">
                <label class="custom-control-label" for="customSwitchTheme2">.custom-control-secondary</label>
            </div>

            <div class="custom-control custom-control-success custom-switch mb-3">
                <input type="checkbox" class="custom-control-input" id="customSwitchTheme3">
                <label class="custom-control-label" for="customSwitchTheme3">.custom-control-success</label>
            </div>

            <div class="custom-control custom-control-danger custom-switch mb-3">
                <input type="checkbox" class="custom-control-input" id="customSwitchTheme4">
                <label class="custom-control-label" for="customSwitchTheme4">.custom-control-danger</label>
            </div>

            <div class="custom-control custom-control-warning custom-switch mb-3">
                <input type="checkbox" class="custom-control-input" id="customSwitchTheme5">
                <label class="custom-control-label" for="customSwitchTheme5">.custom-control-warning</label>
            </div>

            <div class="custom-control custom-control-info custom-switch mb-3">
                <input type="checkbox" class="custom-control-input" id="customSwitchTheme6">
                <label class="custom-control-label" for="customSwitchTheme6">.custom-control-info</label>
            </div>

            <div class="custom-control custom-control-dark custom-switch mb-3">
                <input type="checkbox" class="custom-control-input" id="customSwitchTheme7">
                <label class="custom-control-label" for="customSwitchTheme7">.custom-control-dark</label>
            </div>

            <div class="custom-control custom-control-light custom-switch mb-3">
                <input type="checkbox" class="custom-control-input" id="customSwitchTheme8">
                <label class="custom-control-label" for="customSwitchTheme8">.custom-control-light</label>
            </div>

        </div>
    </div>
    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;!--Checkbox primary color example--&gt;
&lt;div class=&quot;custom-control custom-checkbox custom-control-primary&quot;&gt;
    &lt;input type=&quot;checkbox&quot; class=&quot;custom-control-input&quot; id=&quot;customCheckTheme1&quot; checked&gt;
    &lt;label class=&quot;custom-control-label&quot; for=&quot;customCheckTheme1&quot;&gt;.custom-control-primary&lt;/label&gt;
&lt;/div&gt;

&lt;!--Radio group primary color example--&gt;
&lt;div class=&quot;custom-control custom-radio custom-control-primary&quot;&gt;
    &lt;input type=&quot;radio&quot; id=&quot;customRadioTheme1&quot; name=&quot;customRadioTheme&quot; class=&quot;custom-control-input&quot; checked&gt;
    &lt;label class=&quot;custom-control-label&quot; for=&quot;customRadioTheme1&quot;&gt;.custom-control-primary&lt;/label&gt;
&lt;/div&gt;

&lt;div class=&quot;custom-control custom-control-primary custom-switch mb-3&quot;&gt;
    &lt;input type=&quot;checkbox&quot; class=&quot;custom-control-input&quot; id=&quot;customSwitchTheme1&quot;&gt;
    &lt;label class=&quot;custom-control-label&quot; for=&quot;customSwitchTheme1&quot;&gt;.custom-control-primary&lt;/label&gt;
&lt;/div&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>
