<header>
    <h2 class="display-4 mb-4">Images</h2>
    <p>Documentation and examples for opting images into responsive behavior (so they never become larger than their parent elements) and add lightweight styles to them—all via classes. More about images can be find on <b><a href="https://getbootstrap.com/">Bootstrap documentation</a></b>.</p>
</header>

<figure>
    <figcaption>Responsive images</figcaption>
    <p>
        Images in Bootstrap are made responsive with .img-fluid. max-width: 100%; and height: auto; are applied to the image so that it scales with the parent element.
    </p>
    <div class="clearfix br-sm">
        <img src="{{docs.img}}placeholder-wide.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;img src=&quot;images/placeholder.jpg&quot; class=&quot;img-fluid&quot; alt=&quot;Responsive image&quot;&gt;</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>PaniniTemplate animation</figcaption>
    <p>PaniniTemplate animation</p>

    <div class="col-item">
        <h5 class="mb-4">Left PaniniTemplate animation</h5>
        <div class="PaniniTemplate mb-5" data-reveal="left">
            <span><img src="{{docs.img}}placeholder-wide.jpg" alt="Alternate Text" class="img-fluid" /></span>
        </div>
    </div>

    <div class="col-item">
        <h5 class="mb-4">Right PaniniTemplate animation</h5>
        <div class="reveal" data-reveal="right">
            <span><img src="{{docs.img}}placeholder-wide.jpg" alt="Alternate Text" class="img-fluid" /></span>
        </div>
    </div>
    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;!--Left PaniniTemplate animation--&gt;
&lt;div class=&quot;reveal&quot; data-reveal=&quot;left&quot;&gt;
    &lt;span&gt;&lt;img src=&quot;...&quot; alt=&quot;Alternate Text&quot; /&gt;&lt;/span&gt;
&lt;/div&gt;

&lt;!--Right PaniniTemplate animation--&gt;
&lt;div class=&quot;reveal&quot; data-reveal=&quot;right&quot;&gt;
    &lt;span&gt;&lt;img src=&quot;...&quot; alt=&quot;Alternate Text&quot; /&gt;&lt;/span&gt;
&lt;/div&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->

</figure>
