<header>
    <h2 class="display-4 mb-4">Installation</h2>
    <p>Basic tips and quick quide that will help you build your first page.</p>
</header>

<figure>
    <figcaption>Introduction</figcaption>
    <p>
        Get started with <b>PaniniTemplate Template</b> which is extended version of Bootstrap, the world’s most popular framework for building responsive, mobile-first sites,
        with predefined styles and a template starter page. While this is extended Bootstrap 4 template we avoid to overwrite default
        utilities or components. If you are already familiar with Bootstrap syntax, you're ready to go. All upgrades with advanced and
        premium features are explained in following documentation so please use the side menu to navigate the documentation.
    </p>
</figure>

<figure>
    <figcaption>Quick install</figcaption>
    <p>
        For quick start copy <code>HTML</code> folder with all subfolders and files for your desired project,
        so you can use plain HTML, CSS and JS to work around.
    </p>
</figure>

<figure>
    <figcaption>Stylesheets</figcaption>
    <p>Looking to quickly add PaniniTemplate template to your project you need to include all needed CSS files.
        Make sure that the main stylesheet <code>style.css</code> is the last one, it will apply all predefined components and color sets.
        Media queries for responsive preview are included!</p>
    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;!-- Vendor stylesheets --&gt;

&lt;link rel=&quot;stylesheet&quot; media=&quot;all&quot; href=&quot;css/vendor/animate.css&quot; /&gt;
&lt;link rel=&quot;stylesheet&quot; media=&quot;all&quot; href=&quot;css/vendor/font-awesome.css&quot; /&gt;
&lt;link rel=&quot;stylesheet&quot; media=&quot;all&quot; href=&quot;css/vendor/linear-icons.css&quot; /&gt;
&lt;link rel=&quot;stylesheet&quot; media=&quot;all&quot; href=&quot;css/vendor/owl.carousel.css&quot; /&gt;
&lt;link rel=&quot;stylesheet&quot; media=&quot;all&quot; href=&quot;css/vendor/jquery.lavalamp.css&quot; /&gt;

&lt;!-- Template stylesheets --&gt;

&lt;link rel=&quot;stylesheet&quot; media=&quot;all&quot; href=&quot;css/style.css&quot; /&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Javascript</figcaption>
    <p>
        Also for javascript plugins you should include mandatory libraries. Many of our components
        require the use of JavaScript to function. Specifically, they require jQuery, and
        JavaScript plugins. Our <code>bootstrap.bundle.js</code> and <code>bootstrap.bundle.min.js</code>
        includes Popper.js. For more info about <code>popper.js</code> read more on
        <a href="https://popper.js.org/" target="_blank">this link</a>.
    </p>

    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;!-- Vendor Scripts --&gt;

&lt;script src=&quot;js/vendor/jquery.min.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;js/vendor/bootstrap.bundle.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;js/vendor/in-view.min.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;js/vendor/jquery.lavalamp.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;js/vendor/owl.carousel.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;js/vendor/rellax.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;js/vendor/wow.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;js/vendor/tabzy.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;js/vendor/isotope.pkgd.js&quot;&gt;&lt;/script&gt;

&lt;!-- Template Scripts --&gt;

&lt;script src=&quot;js/main.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;js/custom.js&quot;&gt;&lt;/script&gt;</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->

</figure>

<figure>
    <figcaption>Starter template</figcaption>
    <p>For building your own template we prepare the starter template code. Be sure to have your pages set up with the latest design and development standards. That means using an HTML5 doctype and including a viewport meta tag for proper responsive behaviors. Put it all together and your pages should look like this:</p>

    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;

&lt;head&gt;
    &lt;meta charset=&quot;utf-8&quot;&gt;
    &lt;meta http-equiv=&quot;X-UA-Compatible&quot; content=&quot;IE=edge&quot;&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1, maximum-scale=1&quot;&gt;

    &lt;!-- Mobile Web-app fullscreen --&gt;

    &lt;meta name=&quot;apple-mobile-web-app-capable&quot; content=&quot;yes&quot;&gt;
    &lt;meta name=&quot;mobile-web-app-capable&quot; content=&quot;yes&quot;&gt;

    &lt;!-- Meta tags --&gt;

    &lt;meta name=&quot;description&quot; content=&quot;Extended Bootstrap 4 Template&quot;&gt;
    &lt;meta name=&quot;author&quot; content=&quot;Goran Hrustic&quot;&gt;
    &lt;link rel=&quot;icon&quot; href=&quot;assets/svg/favicon.ico&quot;&gt;

    &lt;!-- Title --&gt;

    &lt;title&gt;PaniniTemplate - Demo title&lt;/title&gt;

    &lt;!-- Vendor stylesheets --&gt;

    &lt;link rel=&quot;stylesheet&quot; media=&quot;all&quot; href=&quot;css/vendor/animate.css&quot; /&gt;
    &lt;link rel=&quot;stylesheet&quot; media=&quot;all&quot; href=&quot;css/vendor/font-awesome.css&quot; /&gt;
    &lt;link rel=&quot;stylesheet&quot; media=&quot;all&quot; href=&quot;css/vendor/linear-icons.css&quot; /&gt;
    &lt;link rel=&quot;stylesheet&quot; media=&quot;all&quot; href=&quot;css/vendor/owl.carousel.css&quot; /&gt;
    &lt;link rel=&quot;stylesheet&quot; media=&quot;all&quot; href=&quot;css/vendor/jquery.lavalamp.css&quot; /&gt;

    &lt;!-- Template stylesheets --&gt;

    &lt;link rel=&quot;stylesheet&quot; media=&quot;all&quot; href=&quot;css/style.css&quot; /&gt;

    &lt;!--HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries--&gt;
    &lt;!--[if lt IE 9]&gt;&lt;script src=&quot;https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js&quot;&gt;&lt;/script&gt; &lt;script src=&quot;https://oss.maxcdn.com/respond/1.4.2/respond.min.js&quot;&gt;&lt;/script&gt;&lt;![endif]--&gt;

&lt;/head&gt;
&lt;body&gt;
    
    &lt;section&gt;
        &lt;div class=&quot;container&quot;&gt;
            &lt;h1&gt;Hello World&lt;/h1&gt;
        &lt;/div&gt;
    &lt;/section&gt;

    &lt;!-- Vendor Scripts --&gt;

    &lt;script src=&quot;js/vendor/jquery.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;js/vendor/bootstrap.bundle.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;js/vendor/in-view.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;js/vendor/jquery.lavalamp.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;js/vendor/owl.carousel.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;js/vendor/rellax.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;js/vendor/wow.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;js/vendor/tabzy.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;js/vendor/isotope.pkgd.js&quot;&gt;&lt;/script&gt;
    
    &lt;!-- Template Scripts --&gt;

    &lt;script src=&quot;js/main.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;js/custom.js&quot;&gt;&lt;/script&gt;

    &lt;/body&gt;
&lt;/html&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>
