<header>
    <h2>Installation</h2>
    <p>Basic tips and quick quide that will help you build your first page.</p>
</header>

<figure>
    <figcaption>Introduction</figcaption>
    <p>
        Get started with <b>PaniniTemplate Template</b> which is extended version of Bootstrap, the world’s most popular framework for building responsive, mobile-first sites,
        with predefined styles and a template starter page. While this is extended Bootstrap 4 template we avoid to overwrite default
        utilities or components. If you are already familiar with Bootstrap syntax, you're ready to go. All upgrades with advanced and
        premium features are explained in following documentation so please use the side menu to navigate the documentation.
    </p>
</figure>

<figure>
    <figcaption>Quick install</figcaption>
    <p>
        For quick start copy <code>HTML</code> folder with all subfolders and files for your desired project,
        so you can use plain HTML, CSS and JS to work around.
    </p>
</figure>

<figure>
    <figcaption>Stylesheets</figcaption>
    <p>Looking to quickly add PaniniTemplate template to your project you need to include all needed CSS files.
        Make sure that the main stylesheet <code>style.css</code> is the last one, it will apply all predefined components and color sets.
        Media queries for responsive preview are included!</p>
</figure>

<figure>
    <figcaption>Javascript</figcaption>
    <p>
        Also for javascript plugins you should include mandatory libraries. Many of our components
        require the use of JavaScript to function. Specifically, they require jQuery, and
        JavaScript plugins. Our <code>bootstrap.bundle.js</code> and <code>bootstrap.bundle.min.js</code>
        includes Popper.js. For more info about <code>popper.js</code> read more on
        <a href="https://popper.js.org/" target="_blank">this link</a>.
    </p>

</figure>

<figure>
    <figcaption>Starter template</figcaption>
    <p>For building your own template we prepare the starter template code. Be sure to have your pages set up with the latest design and development standards. That means using an HTML5 doctype and including a viewport meta tag for proper responsive behaviors. Put it all together and your pages should look like this:</p>
</figure>
