<header>
    <h2 class="display-4 mb-4">Introdution</h2>
    <p>This is documentation generator.</p>
</header>

<figure>
    <figcaption>Dummy title</figcaption>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Laboriosam, nam magnam. Nobis, vitae id atque eum animi, autem non ea expedita
        reiciendis ipsam dolorem nemo error vel quaerat est hic.
    </p>
</figure>
