<header>
    <h2 class="display-4 mb-4">Sidebar</h2>
    <p>Sidebar is JavaScript modal plugin to add dialogs to your site for lightboxes, user notifications, or completely custom content.</p>
</header>

<figure>
    <figcaption>How it works</figcaption>
    <p>
        Toggle a working sidebar demo by clicking the button below. It will slide down and fade in from the top of the page.
        Use <code>.toggle-show</code> class and <code>data-show="elementName"</code> data attribute to call the sidebar. For multiple sidebars be sure thet each one have different ID - elementName.
    </p>

    <!--Call the sidebar-->

    <a href="javascript:void(0);" class="btn btn-primary toggle-show" data-show="sidebar1">Toggle sidebar</a>

    <!--Sidebar markup-->

    <div class="sidebar" id="sidebar1">
        <div class="sidebar-content">
            <div class="p-3">
                <p>This is the left sidebar!</p>
                <a href="javascript:void(0);" class="toggle-show" data-show="sidebar1">Close sidebar</a>
            </div>
        </div>
    </div>

    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;!--Call the sidebar--&gt;

&lt;a href=&quot;javascript:void(0);&quot; class=&quot;btn btn-primary toggle-show&quot; data-show=&quot;sidebar1&quot;&gt;Toggle sidebar&lt;/a&gt;

&lt;!--Sidebar markup--&gt;

&lt;div class=&quot;sidebar&quot; id=&quot;sidebar1&quot;&gt;
    &lt;div class=&quot;sidebar-content&quot;&gt;
        &lt;div class=&quot;p-3&quot;&gt;
            &lt;p&gt;This is the left sidebar!&lt;/p&gt;
            &lt;a href=&quot;#&quot; class=&quot;toggle-show&quot; data-show=&quot;sidebar1&quot;&gt;Close sidebar&lt;/a&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Right sidebar</figcaption>
    <p>Sidebar position can be controlled with <code>.sidebar-right</code> class. When modals become too long for the user’s viewport or device, they scroll independent of the page itself. </p>

    <!--Call the sidebar-->

    <a href="javascript:void(0);" class="btn btn-primary toggle-show" data-show="sidebar2">Toggle right sidebar</a>

    <!--Sidebar markup-->

    <div class="sidebar sidebar-right" id="sidebar2">
        <div class="sidebar-content">
            <div class="p-3">
                <p>This is the right sidebar!</p>
                <a href="javascript:void(0);" class="toggle-show" data-show="sidebar2">Close sidebar</a>

            </div>
        </div>
    </div>

    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;!--Call the sidebar--&gt;

&lt;a href=&quot;javascript:void(0);&quot; class=&quot;btn btn-primary toggle-show&quot; data-show=&quot;sidebar2&quot;&gt;Toggle right sidebar&lt;/a&gt;

&lt;!--Sidebar markup--&gt;

&lt;div class=&quot;sidebar sidebar-right&quot; id=&quot;sidebar2&quot;&gt;
    &lt;div class=&quot;sidebar-content&quot;&gt;
        &lt;div class=&quot;p-3&quot;&gt;
            &lt;p&gt;This is the right sidebar!&lt;/p&gt;
            &lt;a href=&quot;#&quot; class=&quot;toggle-show&quot; data-show=&quot;sidebar2&quot;&gt;Close sidebar&lt;/a&gt;

        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Login sidebar</figcaption>
    <p>Below is a live demo followed by example HTML and JavaScript.</p>

    <!--Call the sidebar-->

    <a href="javascript:void(0);" class="btn btn-primary toggle-show" data-show="sidebarLogin">Login sidebar</a>

    <!--Sidebar markup-->

    <div class="sidebar shadow-lg" id="sidebarLogin">
        <div class="sidebar-content sidebar-content-warning">
            <div class="sidebar-header p-3">
                <button type="button" class="close toggle-show" data-show="sidebarLogin" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="d-flex w-100 align-items-center">
                <div class="w-100">
                    <div class="p-4 p-lg-5">
                        <div class="mb-5 text-center">
                            <img src="../html/assets/svg/reveal-symbol.svg" alt="" class="w-50" />
                        </div>
                        <div class="form-group">
                            <label class="label" for="sidebarEmail">Email address</label>
                            <input type="email" class="form-control" id="sidebarEmail" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label class="label" for="sidebarPassword">Password</label>
                            <input type="password" class="form-control" id="sidebarPassword">
                        </div>
                        <div class="form-group d-flex justify-content-between">
                            <div class="custom-control custom-control-sm custom-checkbox custom-control-primary">
                                <input type="checkbox" class="custom-control-input" id="customExampleCheck">
                                <label class="custom-control-label" for="customExampleCheck">Remember me</label>
                            </div>
                            <small>
                                <a href="#" class="text-muted">Forgot password?</a>
                            </small>
                        </div>
                        <div class="row justify-content-center pt-3">
                            <div class="col-md-10">
                                <button type="submit" class="btn btn-sm btn-block btn-primary px-5">Login</button>

                                <div class="divider-separator">
                                    <span>Or</span>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-sm btn-block btn-google px-3">Login with Google</button>
                                    <button type="submit" class="btn btn-sm btn-block btn-facebook px-3">Login with Facebook</button>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <small>
                                <a href="#" class="text-muted">Don't have an account?</a> <br />
                                <a href="#" class="text-muted">Create an account</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;!--Call the sidebar--&gt;

&lt;a href=&quot;javascript:void(0);&quot; class=&quot;btn btn-primary toggle-show&quot; data-show=&quot;sidebarLogin&quot;&gt;Login sidebar&lt;/a&gt;

&lt;!--Sidebar markup--&gt;

&lt;div class=&quot;sidebar shadow-lg&quot; id=&quot;sidebarLogin&quot;&gt;
    &lt;div class=&quot;sidebar-content sidebar-content-warning&quot;&gt;
        &lt;div class=&quot;sidebar-header p-3&quot;&gt;
            &lt;button type=&quot;button&quot; class=&quot;close toggle-show&quot; data-show=&quot;sidebarLogin&quot; aria-label=&quot;Close&quot;&gt;
                &lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;
            &lt;/button&gt;
        &lt;/div&gt;
        &lt;div class=&quot;d-flex w-100 align-items-center&quot;&gt;
            &lt;div class=&quot;w-100&quot;&gt;
                &lt;div class=&quot;p-4 p-lg-5&quot;&gt;
                    &lt;div class=&quot;mb-5 text-center&quot;&gt;
                        &lt;img src=&quot;placeholder.jpg&quot; alt=&quot;&quot; class=&quot;w-50&quot; /&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;form-group&quot;&gt;
                        &lt;label class=&quot;label&quot; for=&quot;exampleInputEmail1&quot;&gt;Email address&lt;/label&gt;
                        &lt;input type=&quot;email&quot; class=&quot;form-control&quot; id=&quot;exampleInputEmail1&quot; aria-describedby=&quot;emailHelp&quot;&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;form-group&quot;&gt;
                        &lt;label class=&quot;label&quot; for=&quot;exampleInputPassword1&quot;&gt;Password&lt;/label&gt;
                        &lt;input type=&quot;password&quot; class=&quot;form-control&quot; id=&quot;exampleInputPassword1&quot;&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;form-group d-flex justify-content-between&quot;&gt;
                        &lt;div class=&quot;custom-control custom-control-sm custom-checkbox custom-control-primary&quot;&gt;
                            &lt;input type=&quot;checkbox&quot; class=&quot;custom-control-input&quot; id=&quot;customExampleCheck&quot;&gt;
                            &lt;label class=&quot;custom-control-label&quot; for=&quot;customExampleCheck&quot;&gt;Remember me&lt;/label&gt;
                        &lt;/div&gt;
                        &lt;small&gt;
                            &lt;a href=&quot;#&quot; class=&quot;text-muted&quot;&gt;Forgot password?&lt;/a&gt;
                        &lt;/small&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;row justify-content-center pt-3&quot;&gt;
                        &lt;div class=&quot;col-md-10&quot;&gt;
                            &lt;button type=&quot;submit&quot; class=&quot;btn btn-sm btn-block btn-primary px-5&quot;&gt;Login&lt;/button&gt;

                            &lt;div class=&quot;divider-separator&quot;&gt;
                                &lt;span&gt;Or&lt;/span&gt;
                            &lt;/div&gt;

                            &lt;div class=&quot;form-group&quot;&gt;
                                &lt;button type=&quot;submit&quot; class=&quot;btn btn-sm btn-block btn-google px-3&quot;&gt;Login with Google&lt;/button&gt;
                                &lt;button type=&quot;submit&quot; class=&quot;btn btn-sm btn-block btn-facebook px-3&quot;&gt;Login with Facebook&lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;text-center&quot;&gt;
                        &lt;small&gt;
                            &lt;a href=&quot;#&quot; class=&quot;text-muted&quot;&gt;Don&#39;t have an account?&lt;/a&gt; &lt;br /&gt;
                            &lt;a href=&quot;#&quot; class=&quot;text-muted&quot;&gt;Create an account&lt;/a&gt;
                        &lt;/small&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Sidebar mobile</figcaption>
    <p>
        Sidebar can be optional with additional <code>.sidebar-mobile</code> class.
        Position is <code>fixed</code> on mobile deveices, and default breakpoint is <code>992px</code>.
    </p>
    <a href="#" class="btn btn-primary toggle-show d-lg-none" data-show="sidebarMobile">Toggle mobile sidebar</a>

    <div class="sidebar sidebar-mobile bg-white" id="sidebarMobile">
        <div class="sidebar-content">
            <div class="p-3">
                <p>This is <code>.sidebar .sidebar-mobile</code> for mobile content.</p>
                <p>On desktop devices position is static, but on portable devices will be hidden and it can be initilized with toggle event as on previous examples. </p>
                <p>Be sure to hide triggers on same brakepoint, in this case class is <code>.d-lg-none</code>.</p>
                <p>Resize the viewport to see the demo!</p>
                <a href="#" class="toggle-show d-lg-none" data-show="sidebarMobile">Close mobile sidebar</a>
            </div>
        </div>
    </div>
</figure>
