<header>
    <h2 class="display-4 mb-4">Steps</h2>
    <p>Steps component is custom progress bar featuring support for stacked bars and cart checkout options.</p>
</header>

<figure>
    <figcaption>Default stepper</figcaption>
    <p>Steps addon can be used as tabs or checkout option. For sizing variations use <code>.steps-sm</code> class.</p>
    <div class="mb-5">
        <div class="steps">
            <ul class="row">
                <li class="col active">
                    <a href="#">
                        <span class="step-item" data-text="First step">
                            <span>1</span>
                        </span>
                    </a>
                </li>
                <li class="col current">
                    <a href="#">
                        <span class="step-item" data-text="Second step">
                            <span>2</span>
                        </span>
                    </a>
                </li>
                <li class="col">
                    <a href="#">
                        <span class="step-item" data-text="Third step">
                            <span>3</span>
                        </span>
                    </a>
                </li>
                <li class="col">
                    <a href="#">
                        <span class="step-item" data-text="Fourth step">
                            <span>4</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;steps&quot;&gt;
    &lt;ul class=&quot;row&quot;&gt;
        &lt;li class=&quot;col active&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;
                &lt;span class=&quot;step-item&quot; data-text=&quot;First step&quot;&gt;
                    &lt;span&gt;1&lt;/span&gt;
                &lt;/span&gt;
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;col current&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;
                &lt;span class=&quot;step-item&quot; data-text=&quot;Second step&quot;&gt;
                    &lt;span&gt;2&lt;/span&gt;
                &lt;/span&gt;
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;col&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;
                &lt;span class=&quot;step-item&quot; data-text=&quot;Third step&quot;&gt;
                    &lt;span&gt;3&lt;/span&gt;
                &lt;/span&gt;
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;col&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;
                &lt;span class=&quot;step-item&quot; data-text=&quot;Fourth step&quot;&gt;
                    &lt;span&gt;4&lt;/span&gt;
                &lt;/span&gt;
            &lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Small stepper</figcaption>

    <div class="mb-5">
        <div class="steps steps-sm">
            <ul class="row">
                <li class="col active">
                    <a href="#">
                        <span class="step-item" data-text="First step">
                            <span>1</span>
                        </span>
                    </a>
                </li>
                <li class="col current">
                    <a href="#">
                        <span class="step-item" data-text="Second step">
                            <span>2</span>
                        </span>
                    </a>
                </li>
                <li class="col">
                    <a href="#">
                        <span class="step-item" data-text="Third step">
                            <span>3</span>
                        </span>
                    </a>
                </li>
                <li class="col">
                    <a href="#">
                        <span class="step-item" data-text="Fourth step">
                            <span>4</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;steps steps-sm&quot;&gt;
    ...
&lt;/div&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>
