<header>
    <h2 class="display-4 mb-4">Page title</h2>
    <p>Documentation and examples for common extended utilities, components & plugins.</p>
</header>

<figure>
    <figcaption>Defaults</figcaption>
    <p class="mb-4">Use flexbox grid to build layouts of all shapes and sizes and extend it with strecher component.
        Don't forget to add <code>.row-stretcher</code> class! Combine with some of existing component like
        <b><a href="#cards">cards</a></b> or <b><a href="#boxes">boxes</a></b>!</p>
    <div class="row row-stretcher">
        <div class="col">
            <div class="box bg-primary">
                <div class="box-content text-white">Stretch</div>
                <div class="box-spacer"></div>
            </div>
        </div>
        <div class="col">
            <div class="box bg-secondary">
                <div class="box-content text-white">Stretch</div>
                <div class="box-spacer"></div>
            </div>
        </div>
        <div class="col">
            <div class="box bg-danger">
                <div class="box-content text-white">Stretch</div>
                <div class="box-spacer"></div>
            </div>
        </div>
        <div class="col">
            <div class="box bg-warning">
                <div class="box-content text-white">Stretch</div>
                <div class="box-spacer"></div>
            </div>
        </div>
        <div class="col col-1">
            <div class="box bg-primary">
                <div class="box-content text-white">No</div>
                <div class="box-spacer"></div>
            </div>
        </div>
    </div>

    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;row row-stretcher&quot;&gt;
    &lt;div class=&quot;col&quot;&gt;
        &lt;div class=&quot;box bg-primary&quot;&gt;
            &lt;div class=&quot;box-content text-white&quot;&gt;Stretch&lt;/div&gt;
            &lt;div class=&quot;box-spacer&quot;&gt;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col&quot;&gt;
        &lt;div class=&quot;box bg-secondary&quot;&gt;
            &lt;div class=&quot;box-content text-white&quot;&gt;Stretch&lt;/div&gt;
            &lt;div class=&quot;box-spacer&quot;&gt;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col&quot;&gt;
        &lt;div class=&quot;box bg-danger&quot;&gt;
            &lt;div class=&quot;box-content text-white&quot;&gt;Stretch&lt;/div&gt;
            &lt;div class=&quot;box-spacer&quot;&gt;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col&quot;&gt;
        &lt;div class=&quot;box bg-warning&quot;&gt;
            &lt;div class=&quot;box-content text-white&quot;&gt;Stretch&lt;/div&gt;
            &lt;div class=&quot;box-spacer&quot;&gt;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col col-1&quot;&gt;
        &lt;div class=&quot;box bg-primary&quot;&gt;
            &lt;div class=&quot;box-content text-white&quot;&gt;No&lt;/div&gt;
            &lt;div class=&quot;box-spacer&quot;&gt;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>
