<header>
    <h2 class="display-4 mb-4">Tables</h2>
    <p>Documentation and examples for opt-in styling of tables (given their prevalent use in JavaScript plugins) with Bootstrap.</p>
</header>

<figure>
    <figcaption>Table scheduler</figcaption>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Hrs</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>06:00</td>
                    <td class="alert alert-primary" colspan="2">
                        <strong>Boot camp</strong><br />
                        <small>Members</small>
                    </td>
                    <td><strong>Crossfit</strong></td>
                    <td>
                        <strong>Runing</strong><br />
                        <small>Members</small>
                    </td>
                    <td class="alert alert-warning">
                        <strong>Cycling</strong><br />
                        <small>Outdoor</small>
                    </td>
                    <td><strong>Swimming</strong></td>
                </tr>
                <tr>
                    <td>07:00</td>
                    <td>
                        <strong>Boot camp</strong><br />
                        <small>Members</small>
                    </td>
                    <td>
                        <strong>Cycling</strong><br />
                        <small>Indoor</small>
                    </td>
                    <td class="alert alert-danger" colspan="2">
                        <strong>Runing</strong><br />
                        <small>Members only</small>
                    </td>
                    <td><strong>Swimming</strong></td>
                    <td><strong>Crossfit</strong></td>
                </tr>
                <tr>
                    <td>08:00</td>
                    <td><strong>Swimming</strong></td>
                    <td class="alert alert-info">
                        <strong>Boot camp</strong><br />
                        <small>Members</small>
                    </td>
                    <td>
                        <strong>Runing</strong><br />
                        <small>Members</small>
                    </td>
                    <td>
                        <strong>Cycling</strong><br />
                        <small>Indoor</small>
                    </td>
                    <td><strong>Swimming</strong></td>
                    <td><strong>Crossfit</strong></td>
                </tr>
                <tr>
                    <td>09:00</td>
                    <td><strong>Crossfit</strong></td>
                    <td>
                        <strong>Runing</strong><br />
                        <small>Members</small>
                    </td>
                    <td><strong>Swimming</strong></td>
                    <td>
                        <strong>Cycling</strong><br />
                        <small>Indoor</small>
                    </td>
                    <td>
                        <strong>Boot camp</strong><br />
                        <small>Members</small>
                    </td>
                    <td><strong>Swimming</strong></td>
                </tr>
                <tr>
                    <td>10:00</td>
                    <td>
                        <strong>Boot camp</strong><br />
                        <small>Single</small>
                    </td>
                    <td><strong>Swimming</strong></td>
                    <td class="alert alert-success" colspan="2">
                        <strong>Crossfit</strong><br />
                        <small>Group trainging</small>
                    </td>
                    <td>
                        <strong>Cycling</strong><br />
                        <small>Indoor</small>
                    </td>
                    <td>
                        <strong>Runing</strong><br />
                        <small>Members</small>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;table-responsive&quot;&gt;
    &lt;table class=&quot;table table-bordered&quot;&gt;
        ...
    &lt;/table&gt;
&lt;/div&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>
