<header>
    <h2 class="display-4 mb-4">Typography</h2>
    <p>Documentation and examples for Revel typography, including global settings, headings, body text, lists, and more.</p>
</header>

<figure>
    <figcaption>Headings</figcaption>
    <p>All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code>, are available.</p>
    <h1>h1. Revel heading</h1>
    <h2>h2. Revel heading</h2>
    <h3>h3. Revel heading</h3>
    <h4>h4. Revel heading</h4>
    <h5>h5. Revel heading</h5>
    <h6>h6. Revel heading</h6>
    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;h1&gt;h1. Revel heading&lt;/h1&gt;
&lt;h2&gt;h2. Revel heading&lt;/h2&gt;
&lt;h3&gt;h3. Revel heading&lt;/h3&gt;
&lt;h4&gt;h4. Revel heading&lt;/h4&gt;
&lt;h5&gt;h5. Revel heading&lt;/h5&gt;
&lt;h6&gt;h6. Revel heading&lt;/h6&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Lead</figcaption>
    <p>Make a paragraph stand out by adding <code>.lead</code>.</p>

    <div>
        <p>Simple paragraph - Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
        <p class="lead">
            Lead paragraph - Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
        </p>
    </div>
    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;p class=&quot;lead&quot;&gt;
    Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
&lt;/p&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Prelabels</figcaption>
    <p>Subtitile or prelabel can be used and combined with predefined color variations.</p>

    <p><strong>Default state</strong></p>
    <p class="pre-label">.pre-label</p>
    <p><strong>Theme colors</strong></p>
    <p class="pre-label pre-label-primary">.pre-label .pre-label-primary</p>
    <p class="pre-label pre-label-secondary">.pre-label .pre-label-secondary</p>
    <p class="pre-label pre-label-success">.pre-label .pre-label-success</p>
    <p class="pre-label pre-label-danger">.pre-label .pre-label-danger</p>
    <p class="pre-label pre-label-warning">.pre-label .pre-label-warning</p>
    <p class="pre-label pre-label-info">.pre-label .pre-label-info</p>
    <p class="pre-label pre-label-dark">.pre-label .pre-label-dark</p>
    <p class="pre-label pre-label-light">.pre-label .pre-label-light</p>

    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;!--Default state--&gt;
&lt;p class=&quot;pre-label&quot;&gt;.pre-label&lt;/p&gt;

&lt;!--Theme colors--&gt;
&lt;p class=&quot;pre-label pre-label-primary&quot;&gt;.pre-label .pre-label-primary&lt;/p&gt;
&lt;p class=&quot;pre-label pre-label-secondary&quot;&gt;.pre-label .pre-label-secondary&lt;/p&gt;
&lt;p class=&quot;pre-label pre-label-success&quot;&gt;.pre-label .pre-label-success&lt;/p&gt;
&lt;p class=&quot;pre-label pre-label-danger&quot;&gt;.pre-label .pre-label-danger&lt;/p&gt;
&lt;p class=&quot;pre-label pre-label-warning&quot;&gt;.pre-label .pre-label-warning&lt;/p&gt;
&lt;p class=&quot;pre-label pre-label-info&quot;&gt;.pre-label .pre-label-info&lt;/p&gt;
&lt;p class=&quot;pre-label pre-label-dark&quot;&gt;.pre-label .pre-label-dark&lt;/p&gt;
&lt;p class=&quot;pre-label pre-label-light&quot;&gt;.pre-label .pre-label-light&lt;/p&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Display headings</figcaption>
    <p>Traditional heading elements are designed to work best in the meat of your page content. When you need a heading to stand out, consider using a display heading—a larger, slightly more opinionated heading style</p>
    <h1 class="display-1">Display 1</h1>
    <h1 class="display-2">Display 2</h1>
    <h1 class="display-3">Display 3</h1>
    <h1 class="display-4">Display 4</h1>
    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;h1 class=&quot;display-1&quot;&gt;Display 1&lt;/h1&gt;
&lt;h1 class=&quot;display-2&quot;&gt;Display 2&lt;/h1&gt;
&lt;h1 class=&quot;display-3&quot;&gt;Display 3&lt;/h1&gt;
&lt;h1 class=&quot;display-4&quot;&gt;Display 4&lt;/h1&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Inline text elements</figcaption>
    <p>You can use the mark tag to <mark>highlight</mark> text.</p>
    <p><del>This line of text is meant to be treated as deleted text.</del></p>
    <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
    <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
    <p><u>This line of text will render as underlined</u></p>
    <p><small>This line of text is meant to be treated as fine print.</small></p>
    <p><strong>This line rendered as bold text.</strong></p>
    <p><em>This line rendered as italicized text.</em></p>
    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;p&gt;You can use the mark tag to &lt;mark&gt;highlight&lt;/mark&gt; text.&lt;/p&gt;
&lt;p&gt;&lt;del&gt;This line of text is meant to be treated as deleted text.&lt;/del&gt;&lt;/p&gt;
&lt;p&gt;&lt;s&gt;This line of text is meant to be treated as no longer accurate.&lt;/s&gt;&lt;/p&gt;
&lt;p&gt;&lt;ins&gt;This line of text is meant to be treated as an addition to the document.&lt;/ins&gt;&lt;/p&gt;
&lt;p&gt;&lt;u&gt;This line of text will render as underlined&lt;/u&gt;&lt;/p&gt;
&lt;p&gt;&lt;small&gt;This line of text is meant to be treated as fine print.&lt;/small&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;This line rendered as bold text.&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;&lt;em&gt;This line rendered as italicized text.&lt;/em&gt;&lt;/p&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Blockquotes</figcaption>
    <p>For quoting blocks of content from another source within your document. Wrap <code>&lt;blockquote class=&quot;blockquote&quot;&gt;</code> around any HTML as the quote.</p>

    <h5 class="mb-3">Default</h5>

    <div class="mb-5">
        <blockquote class="blockquote">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        </blockquote>
    </div>

    <h5 class="mb-3">Naming a Source</h5>

    <blockquote class="blockquote">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>

    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;!--Default--&gt;
&lt;blockquote class=&quot;blockquote&quot;&gt;
    &lt;p class=&quot;mb-0&quot;&gt;Lorem ipsum dolor sit amet...&lt;/p&gt;
&lt;/blockquote&gt;

&lt;!--Naming a source--&gt;
&lt;blockquote class=&quot;blockquote&quot;&gt;
    &lt;p class=&quot;mb-0&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&lt;/p&gt;
    &lt;footer class=&quot;blockquote-footer&quot;&gt;Someone famous in &lt;cite title=&quot;Source Title&quot;&gt;Source Title&lt;/cite&gt;&lt;/footer&gt;
&lt;/blockquote&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Blockquote styles</figcaption>
    <p>There is an few examples of advanced blockquote styles. Use desired blockquote class for identifying the source </p>

    <h5 class="mb-4">Blockquote flat</h5>

    <div class="mb-5">
        <blockquote class="blockquote-flat">
            <h2 class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</h2>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
    </div>

    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;blockquote class=&quot;blockquote-flat&quot;&gt;
    &lt;h2 class=&quot;mb-0&quot;&gt;Lorem ipsum dolor sit amet...&lt;/h2&gt;
    &lt;footer class=&quot;blockquote-footer&quot;&gt;
            Someone... 
            &lt;cite title=&quot;Title&quot;&gt;Title&lt;/cite&gt;
    &lt;/footer&gt;
&lt;/blockquote&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->

</figure>

<figure>
    <figcaption>Blockquote prime</figcaption>

    <blockquote class="blockquote-prime">
        <h2 class="mb-0">The man who comes back through the door in the wall will never be quite the same as the man who went out.</h2>
        <div class="text-center"><cite title="Source Title">John Doe</cite></div>
    </blockquote>

    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;blockquote class=&quot;blockquote-prime&quot;&gt;
    &lt;h2 class=&quot;mb-0&quot;&gt;The man who comes...&lt;/h2&gt;
    &lt;div class=&quot;text-center&quot;&gt;
        &lt;cite title=&quot;Source Title&quot;&gt;John Doe&lt;/cite&gt;
    &lt;/div&gt;
&lt;/blockquote&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>
