[data-docs] {
    font-family: "Open Sans", sans-serif;
    padding: 0;
    line-height: 1.8;
    
    [data-switcher] {
        position: absolute;
        right: 2rem;
        top: 9rem;

        .nav-item {
            color: #777;
        }
    }

    p {
        code {
            font-size: 100% !important;
        }
    }

    .snippet {
        margin: 2rem 0;

        .snippet-box {
            display: none;
            background-color: white;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.03);
            padding: 2rem;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;

            &.show {
                display: block;
            }
        }

        .font-sm {
            font-size: .85em;
            line-height: 1.6;

            code, pre {
                color: #6c757d !important;
            }
        }

        &.active {
            .snippet-box {
                display: block;
            }
        }

        .pre-label {
            display: inline-flex;
            margin-bottom: 1rem;
            cursor: pointer;
        }

        pre {
            position: relative;
        }

        pre,
        code {
            background-color: transparent;
        }

        code {
            display: block;
            overflow-x: auto;

            .token {
                @include transition(all 0.6s);

                &.active {
                    background-color: #d7e4ff;
                }
            }
        }

        .btn-copy {
            position: absolute;
            top: -5px;
            right: 5px;
            z-index: $zindex-modal-backdrop;
        }
    }

    aside {
        border-right: 1px solid $border-color;

        a {
            color: black;
        }

        @media (max-width: 998px) {
            & {
                background-color: white;
                position: fixed;
                left: 0;
                top: 0;
                bottom: 0;
                width: 300px;
                z-index: 9090;
                overflow: auto;
                @include transform(translate3d(-100%, 0, 0));
                @include transition(all 0.4s);

                &.active {
                    @include transform(translate3d(0, 0, 0));
                }
            }
        }
    }

    .header,
    section {
        padding: 1rem;

        @media (min-width: 998px) {
            & {
                padding: 3rem;
            }
        }

        header {
            margin-bottom: 1rem;
        }

        article {
            padding-top: 1.5rem;

            .col-item {
                @media (min-width: 1200px) {
                    width: 25rem;
                    max-width: 25rem;
                    flex: 25rem;
                }
            }

            > figure {
                margin-bottom: 4rem;

                > figcaption {
                    font-size: 1.5rem;
                    margin-bottom: 2.5rem;
                    border-left: 2px solid $primary;
                    padding-left: 1rem;
                    margin-left: -1rem;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;

                    @media (min-width: 998px) {
                        & {
                            padding-left: 3rem;
                            margin-left: -3rem;
                        }
                    }

                    + p {
                        margin-top: -1rem;
                        margin-bottom: 3rem;
                    }
                }
            }
        }
    }

    section {
        border-top: 1px solid $border-color;
    }

    .nav-aside {
        @media (min-width: 998px) {
            & {
                position: sticky;
                top: 10px;
            }
        }

        .nav-link {
            padding: 15px 30px;
            text-decoration: none;
            border-right: 2px solid transparent;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;

            &.nav-link-main {
                position: relative;

                &:before {
                    font-family: "LinearIcons";
                    content: "\e874";
                    position: absolute;
                    right: 30px;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: all 0.4s;
                }
            }

            &:hover {
                background-color: #ebebeb;
            }
        }

        .nav-item {
            &.active {
                .nav-link-main {
                    font-weight: 700;

                    &:before {
                        transform: translateY(-50%) rotate(180deg);
                    }
                }

                > .nav-collapse {
                    .nav-link {
                        &.active {
                            color: $primary;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .nav-collapse {
            display: none;

            .nav-link {
                padding-top: 10px;
                padding-bottom: 10px;
                font-size: 0.875rem;
            }
        }
    }

    .linear-icons {
        .icon {
            font-size: 22px;
            @include duration-2;
            display: inline-block;
        }

        .mls {
            padding-left: 5px;
        }

        .clearfix {
            line-height: 40px;

            &:hover {
                .icon {
                    @include transform(scale(1.4));
                }
            }
        }
    }
}

@include dark-mode {
    aside {
        border-color: $border-color-dark;

        a {
            color: $body-color-dark;
        }
    }

    section {
        border-top: 1px solid $border-color-dark;
    }

    hr {
        border-color: $border-color-dark;
    }

    .snippet {
        .snippet-box,
        pre,
        code {
            background-color: $body-bg-dark-light;
            color: darken($body-color-dark, 30%);

            .token.active {
                background-color: $black;
            }
        }
    }

    .nav-aside {
        .nav-link {
            &:hover {
                background-color: $body-bg-dark-light;
            }
        }
    }
}
